<div ng-init="editor.init('challenge-editor')" ng-controller='challengeNewController'>

	<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
	    <a class="uk-alert-close" uk-close></a>
		{{ api.error }}
	</div>

	<input type="text" class="uk-input" ng-model='model.title' placeholder="Title">
	<br>
	<input type="text" class="uk-input" ng-model='model.module' placeholder="Module">

	<div>
		<div id='challenge-editor'></div>
	</div>
	
	<div ng-if='api.loading' uk-spinner></div>
	
	<button ng-if='!api.loading' class="uk-button uk-button-primary" ng-click='api.submit()'>POST</button>
</div>