<div ng-controller='postEditController'>
	<input type="text" class="uk-input" ng-model='api.view.target'>
	<a href="javascript:void(0)" ng-click="api.view.load()">Load</a>


	<div ng-if='api.view.loading' uk-spinner></div>
	<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
	    <a class="uk-alert-close" uk-close></a>
		{{ api.error }}
	</div>
	

	<div ng-if='api.loading' uk-spinner></div>
	<textarea class="uk-textarea" ng-model='model.content'></textarea>

	<button ng-click='api.submit()' class="uk-button uk-button-primary">UPDATE</button>

</div>