<div ng-controller='postFeedController'>
	<div class="uk-padding">
		<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
		    <a class="uk-alert-close" uk-close></a>
			{{ api.error }}
		</div>
		
		<div ng-repeat='  i in api.list '>
			<div uk-scrollspy="cls:uk-animation-slide-top-small" class="uk-card-hover uk-padding-small" id="ex-card" style="margin-bottom: 10px">
			    <div class="uk-padding-small">
			        <div class="uk-grid-small uk-flex-middle" uk-grid>
			            <img class="uk-border-circle" width="50px" height="50px" src="https://storage.googleapis.com/neris/public/images/types/faces/INFJ-female.svg">
		                <p class="uk-margin-remove-top"> <b>{{ i.author.name }}</b> &middot; <small> <time datetime="{{ i.date }}">{{ i.date | date: "MMMM d, y" }}</time> </small> </p>
			        </div>
			    </div>
			    <div class="uk-padding-small">
			    	<div ng-bind-html='i.content'></div>
			    </div>
			    <div style="text-align: center;">
			    	<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="heart"></a>
					<a href="" class="uk-icon-button" uk-icon="refresh"></a>
					<a href="javascript:void(0)" ng-click='view_details(i)'  class="uk-icon-button  uk-margin-small-right" uk-icon="comment"></a>
			    </div>
			</div>
		</div>

		<div class="uk-text-center">
			<div ng-if='api.loading' uk-spinner></div>
			<div ng-hide='api.loading' class="uk-text-meta"><a href="javascript:void(0)" class="uk-link-muted" ng-click='api.next()'>More</a></div>
		</div>

	</div>
	<div id="modal-post-details" class="uk-modal-full" uk-modal>
	    <div class="uk-modal-dialog">
        	<div ng-controller='postViewController'>
	       		<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
		        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
		            <div class="uk-padding-large uk-width-1-2" ng-hide='api.loading' uk-height-viewport>
			        		<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
								{{ api.error }}
							</div>
							<div class="uk-text-center">
								<div ng-show='api.loading' uk-spinner></div>
							</div>
							<div ng-show='!api.loading'>
					        	<div class="uk-padding-small">
							        <div class="uk-grid-small uk-flex-middle" uk-grid>
							            <img class="uk-border-circle" width="50px" height="50px" src="https://storage.googleapis.com/neris/public/images/types/faces/INFJ-female.svg">
						                <p class="uk-margin-remove-top"> <b>{{ api.value.author.name }}</b> &middot; <small> <time datetime="{{ api.value.date }}">{{ api.value.date | date: "MMMM d, y" }}</time> </small> </p>
							        </div>
							    </div>
							    <div class="uk-padding">
							    	<div ng-bind-html='api.value.content'></div>
							    </div>
				                	
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
							    <div class="uk-grid-small uk-child-width-auto" uk-grid>
							        <div>
							            <a class=" " href="javascript:void(0)"> <span uk-icon="icon: heart"></span> </a>
							        </div>
							        <div>
							            <a class=" " href="javascript:void(0)"> <span uk-icon="icon: refresh"></span> </a>
							        </div>
							        <div>
										<div class="uk-inline">
								            <a class="" href="javascript:void(0)"> <span uk-icon="icon: cog"></span> </a>
								            <div uk-dropdown="mode: click">
								            	 <ul class="uk-nav uk-dropdown-nav">
											        <li class="uk-nav-header">Options</li>
											        <li class="uk-active"><a href="javascript:void(0)">Share via Private Message</a></li>
											        <li><a href="javascript:void(0)">Copy Link to Post</a></li>
											        <li><a href="javascript:void(0)">Embed Post</a></li>
											        <li><a href="javascript:void(0)">Pin to your Profile</a></li>
											        <li class="uk-nav-divider"></li>
											        <li><a href="javascript:void(0)" uk-toggle="target: #modal-delete-confirm">Delete Post</a></li>
											    </ul>
								            </div>
										</div>
										<div id="modal-delete-confirm" uk-modal="stack: true">
										    <div class="uk-modal-dialog uk-modal-body">
										        <h2 class="uk-modal-title">Delete Post</h2>
										    	<div ng-controller='postDeleteController'>
										    		<div ng-show='api.loading'>
										    			<div uk-spinner></div>
										    		</div>
										    		<div ng-show='api.error' class="uk-alert uk-alert-danger">
										    			{{ api.error }}
										    		</div>
											        <p ng-hide='api.loading'>Are you sure you want to delete this post?</p>
											        <p ng-hide='api.loading' class="uk-text-right">
											            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
											            <button  class="uk-button uk-button-danger" ng-click='api.delete()' type="button">Delete</button>
											        </p>
										    	</div>
										    </div>
										</div>
							        </div>
							    </div>
							</div>
		        	</div>
		            <div class="uk-width-1-2 uk-padding">
		            	<div  uk-sticky="offset: 100">
			            	<h3>Discussion</h3>
			            	<div>
			            		<div ng-controller="pagePostNewController">
									<div>
					            		<% include new.ejs %>
									</div>
								</div>
			            	</div>

			            	<br>
			            	<hr>
			            	<div style="height: 80vh; overflow-y: scroll;">

			            		<div ng-controller='postListController'>
									<div class="uk-text-center">
										<div ng-if='api.loading' uk-spinner></div>
									</div>
					            	<small>
					            		<div ng-repeat='i in api.list'>
											<div uk-scrollspy="cls:uk-animation-slide-top-small" class="uk-card-hover uk-padding-small" id="ex-card" style="margin-bottom: 10px">
											    <div class="uk-padding-small">
											        <div class="uk-grid-small uk-flex-middle" uk-grid>
											            <img class="uk-border-circle" width="50px" height="50px" src="https://storage.googleapis.com/neris/public/images/types/faces/INFJ-female.svg">
										                <p class="uk-margin-remove-top"> <b>{{ i.author.name }}</b> &middot; <small> <time datetime="{{ i.date }}">{{ i.date | date: "MMMM d, y" }}</time> </small> </p>
											        </div>
											    </div>
											    <div class="uk-padding-small">
											    	<div ng-bind-html='i.content'></div>
											    </div>
											    <div style="text-align: center;">
											    	<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="heart"></a>
													<a href="" class="uk-icon-button" uk-icon="refresh"></a>
													<a href="javascript:void(0)" ng-click='view_details(i)'  class="uk-icon-button  uk-margin-small-right" uk-icon="comment"></a>
											    </div>
											</div>
					            		</div>
					            	</small>
			            		</div>

			            	</div>

		            	</div>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>
</div>