<div ng-include="'pages/shared/navbar'" ></div>
<br><br>
<div ng-controller='guildMainController'>
	<div class="uk-grid-small uk-child-width-expand@s" uk-grid>

		<div class="uk-padding uk-padding-large uk-padding-remove-top uk-width-1-4">
			<ul class="uk-thumbnav">
			    <li class="uk-active"><a href=""><img src="assets/guild-blank.png" width="200px" height="200px" alt=""></a></li>
			</ul>
			<div uk-sticky="offset: 100">
				<h3>Hello World Guild</h3>
		        <ul class="uk-tab-left" uk-tab>
		            <li class="uk-active"><a href="#">Guild Feed</a></li>
		            <li><a href="#">Modules</a></li>
		            <li><a href="#">About</a></li>
		            <li><a href="#">Settings</a></li>
		        </ul>
			</div>
		</div>

		<div class="uk-width-1-2">	

			<!-- <div>
				GUILD MODULES
				<br><br>

				<div ng-repeat='i in [1,2,3,4,5]'>
					<div class="uk-background-default uk-padding">
			            <h3 class="uk-card-title"><a href="">Introduction to Programming</a></h3>
			            <p>
			            	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			            </p>
			            <button class="uk-button uk-button-primary">Get Started</button>
			        </div>
			        <br>
				</div>
			</div> -->

<!-- 			<div>
				<div class="uk-section-default">
				    <div class="uk-section uk-light uk-background-cover" style="background-image: url(assets/guild-cover-default.jpg)">
				        <div class="uk-container">
				            <h1>Hello World Guild</h1>
				        </div>
				    </div>
				</div>
				<br>
				<div>
					<h3>About</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div>
					<h3>Badges Required</h3>
					<ol>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
					</ol>
				</div>
				
				<h3>Group Ranks</h3>
				<div class="uk-child-width-1-3" uk-grid>
					<div>
						<h4>Guild Masters</h4>
						<ol>
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
					<div>
						<h4>Craftsmen</h4>
						<ol>
							<li>Justine Che T. Romero</li>
							<li>Darryl Anne D. Alang</li>
							<li>Jude Wincel P. Marino</li>
							<li>Rhunzted Cyrus Completo</li>
						</ol>
					</div>
					<div>
						<h4>Guild Moderators</h4>
						<ol>	
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
					<div>
						<h4>Guild Masters</h4>
						<ol>	
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
				</div>

				<br><br><br><br>

				<h3>Founding</h3>
				Group Created By <a href="">Justine Che T. Romero</a> on <b>January 1, 2019</b>

				<br><br><br><br>

			</div>
 -->
			<div>
				<h3>GROUP SETTINGS</h3>
				<hr class="uk-divider-icon">
				<small>Main Settings</small>
				<br><br>
				<form>
					Guild Name <br>
					<input type="text" class="uk-input">
					Guild Description <br>
					<textarea class="uk-textarea"></textarea>
					
					<hr class="uk-divider-icon">
					<br>
					<div class="uk-grid uk-child-width-1-3">
						<div>
							<h4>Ranks</h4>
							<ul class="uk-list uk-list-striped">
							    <li>List item 1</li>
							    <li>List item 2</li>
							    <li>List item 3</li>
							</ul>
							<hr>
						</div>
						<div>
							<h4>Add new rank</h4>
							Rank name
					    	<input type="text" class="uk-input">
					    	Rank Permissions
							<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
					            <label><input class="uk-checkbox" type="checkbox" checked> A</label>
					            <label><input class="uk-checkbox" type="checkbox"> B</label>
					        </div>

					    	<button class="uk-button uk-button-small uk-button-primary  uk-margin-remove">Add</button>
						</div>
					</div>
				</form>
						<br><br><br><br>
						<br><br><br><br>
			</div>

		</div>
		<div class="uk-width-1-4">

		</div>
	</div>
</div>