<div ng-include="'pages/static/navbar'" ></div>
<div ng-controller='pageGuildViewController'>
	<br><br>
	<div class="uk-grid-small uk-child-width-expand@s" uk-grid>

		<div class="uk-padding uk-padding-large uk-padding-remove-top uk-width-1-4">
			<div ng-controller='guildViewController'>
				<ul class="uk-thumbnav">
				    <li class="uk-active" style="text-align: center;"><a href=""><img src="assets/guild-blank.png" width="150px" height="150px" alt=""></a></li>
				</ul>
				<br>
				<div uk-sticky="offset: 100">
					<b>{{api.value.name}}</b>
					<div ng-show='api.loading' class="uk-spinner"></div>
			        <ul class="uk-tab-left" uk-tab>
			            <li ng-class="{ 'uk-active' : subpage.here('feed') }" style="padding: 0px"><a  ng-click='subpage.goto("feed")' href="#">Guild Feed</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('members') }" style="padding: 0px"><a  ng-click='subpage.goto("members")' href="#">Members</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('modules') }" style="padding: 0px"><a  ng-click='subpage.goto("modules")' href="#">Modules</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('about') }" style="padding: 0px"><a  ng-click='subpage.goto("about")' href="#">About</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('settings') }" style="padding: 0px"><a  ng-click='subpage.goto("settings")' href="#">Settings</a></li>
			        </ul>
				</div>
			</div>
		</div>

		<div class="uk-width-1-2">	

			<div ng-show='subpage.here("feed")'>
				<div>
					<div ng-include='"pages/post/new"'></div>
				</div>
				<div class="uk-padding">
					<div ng-include='"pages/components/post/list"'></div>
				</div>
			</div>

			<!-- <div>
				GUILD MODULES
				<br><br>

				<div ng-repeat='i in [1,2,3,4,5]'>
					<div class="uk-background-default uk-padding">
			            <h3 class="uk-card-title"><a href="">Introduction to Programming</a></h3>
			            <p>
			            	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			            </p>
			            <a class="uk-button uk-button-primary" href='#/module/123'>Get Started</a>
			            <a class="uk-button uk-button-secondary" href="#/module/123/edit" >Open in Editor</a>
			            <a class="uk-button uk-button-secondary" href="#/module/123/edit" >Module Overview</a>
			        </div>
			        <br>
				</div>
			</div> -->

<!-- 			<div>
				<div class="uk-section-default">
				    <div class="uk-section uk-light uk-background-cover" style="background-image: url(assets/guild-cover-default.jpg)">
				        <div class="uk-container">
				            <h1>Hello World Guild</h1>
				        </div>
				    </div>
				</div>
				<br>
				<div>
					<h3>About</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div>
					<h3>Badges Required</h3>
					<ol>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
					</ol>
				</div>
				
				<h3>Group Ranks</h3>
				<div class="uk-child-width-1-3" uk-grid>
					<div>
						<h4>Guild Masters</h4>
						<ol>
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
					<div>
						<h4>Craftsmen</h4>
						<ol>
							<li>Justine Che T. Romero</li>
							<li>Darryl Anne D. Alang</li>
							<li>Jude Wincel P. Marino</li>
							<li>Rhunzted Cyrus Completo</li>
						</ol>
					</div>
					<div>
						<h4>Guild Moderators</h4>
						<ol>	
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
					<div>
						<h4>Guild Masters</h4>
						<ol>	
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
				</div>
				<br><br><br><br>
				<h3>Founding</h3>
				Group Created By <a href="">Justine Che T. Romero</a> on <b>January 1, 2019</b>
				<br><br><br><br>
			</div>
 -->
			<div ng-show='subpage.here("settings")'>
				<h3>GROUP SETTINGS</h3>
				<hr class="uk-divider-icon">
				<div ng-include='"/pages/components/guild/edit"'></div>
				<hr class="uk-divider-icon">
				<section>
					<div class="uk-grid uk-child-width-1-3">
						
						<div>
							<h3>Ranks</h3>
							<h4>All ranks</h4>
							<ul class="uk-list uk-list-striped">
							    <li><a href="#/">List item 1</a></li>
							    <li><a href="#/">List item 2</a></li>
							    <li><a href="#/">List item 3</a></li>
							    <li> <button class="uk-button uk-button-secondary">Add new Rank</button> </li>
							</ul>
							<hr>
						</div>
						<div class="uk-width-expand" ng-show='true'>
							<h4>Edit rank</h4>
							Rank name
					    	<input type="text" class="uk-input">
					    	<hr>
					    	Permissions <br>
					    	<table class="uk-table uk-table-striped">
							    <tbody>
							        <tr>
							            <th>Modules</th>
							            <td>
											<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
									            <label><input class="uk-checkbox" type="checkbox" checked> Add</label>
									            <label><input class="uk-checkbox" type="checkbox" checked> Update</label>
									            <label><input class="uk-checkbox" type="checkbox" checked> Remove</label>
									        </div>
							            </td>
							        </tr>
							        <tr>
							            <th>Membership</th>
							            <td>
											<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
									            <label><input class="uk-checkbox" type="checkbox" checked> Add</label>
									            <label><input class="uk-checkbox" type="checkbox" checked> Update</label>
									            <label><input class="uk-checkbox" type="checkbox" checked> Remove</label>
									        </div>
							            </td>
							        </tr>
							        <tr>
							            <th>Group Settings</th>
							            <td>
											<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
									            <label><input class="uk-checkbox" type="checkbox" checked> Update</label>
									            <label><input class="uk-checkbox" type="checkbox"> Delete Group</label>
									        </div>
							            </td>
							        </tr>
							        <tr>
							        	<th>Posts</th>
							        	<td>
											<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
									            <label><input class="uk-checkbox" type="checkbox"> Remove</label>
									        </div>
							        	</td>
							        </tr>
							    </tbody>
							</table>
			    	
					    	<button class="uk-button uk-button-danger  uk-margin-remove">Delete Rank</button>
					    	<button class="uk-button uk-button-primary  uk-margin-remove">Save Rank</button>
						</div>
					</div>
				</section>
				<hr class="uk-divider-icon">
				<section>
					<h3>Badge Requirements</h3>
					<div style="height: 50vh; overflow-y: scroll;">
						<table class="uk-table uk-table-striped">
						    <thead>
						        <tr>
						            <th>#</th>
						            <th></th>
						            <th>Badge</th>
						            <th>Guild</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr ng-repeat='i in [1,2,3,4,5] track by $index'>
						            <td>{{ $index+1 }}</td>
						            <td><a href="" class="uk-icon-button" uk-icon="trash"></a></td>
						            <td>Hello World Badge</td>
						            <td>Hello World Guild</td>
						        </tr>
						    </tbody>
						</table>
					</div>
					<h3>Add new Badge</h3>
						<div class="uk-margin uk-child-width-1-3" uk-grid>
						    <form class="uk-search uk-search-default">
						        <input class="uk-search-input" type="search" placeholder="Search...">
						    </form>
						    <div>
						    	Competitive Programming Guild
						    </div>
						    <div>
						    	<button class="uk-button uk-button-primary">Add </button>
						    </div>
						</div>
					<br>
				</section>
						<br><br><br><br>
						<br><br><br><br>
			</div>

			<div ng-show='subpage.here("members")'>
				
				<section>
					<h3>Pending Requests</h3>
					<div ng-controller='guildMainPendingController'>
						<div style="height: 50vh; overflow-y: scroll;">
							<table class="uk-table uk-table-striped">
							    <thead>
							        <tr>
							            <th>#</th>
							            <th></th>
							            <th>Name</th>
							            <th>Message</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr ng-repeat='i in [1,2,3,4,5] track by $index'>
							            <td>{{ $index+1 }}</td>
							            <td><a href="javascript:void(0)" class="uk-icon-button" uk-icon=""><i class="fas fa-check"></i></a>
							            	&nbsp;&nbsp;<a href="javascript:void(0)" class="uk-icon-button" uk-icon=""><i class="fas fa-times"></i></a></td>
							            <td>Justine Che T. Romero</td>
							            <td> 
							            	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							            	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							            	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							            	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							            	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							            	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        							</td>
							        </tr>
							    </tbody>
							</table>
						</div>
					</div>
					<h3>Members</h3>
					<div style="height: 50vh; overflow-y: scroll;">
						<table class="uk-table uk-table-striped">
						    <thead>
						        <tr>
						            <th>#</th>
						            <th></th>
						            <th>Name</th>
						            <th>Rank</th>
						            <th>Status</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr ng-repeat='i in [1,2,3,4,5] track by $index'>
						            <td>{{ $index+1 }}</td>
						            <td><a href="" class="uk-icon-button" uk-icon="trash"></a></td>
						            <td>Justine Che T. Romero</td>
						            <td> 
						            	<select class="uk-select">
							                <option selected>Craftsmen</option>
							                <option>Master</option>
							            </select>
        							</td>
						            <td></td>
						        </tr>
						    </tbody>
						</table>
					</div>
					<h3>Add new Member</h3>
						<div class="uk-margin uk-child-width-1-4" uk-grid>
						    <form class="uk-search uk-search-default">
						        <input class="uk-search-input" type="search" placeholder="Search...">
						    </form>
						    <div>
						    	Justine Che T. Romero
						    </div>
						    <div>
				            	<select class="uk-select">
					                <option selected>Craftsmen</option>
					                <option>Master</option>
					            </select>
						    </div>
						    <div>
						    	<button class="uk-button uk-button-primary">Add </button>
						    </div>
						</div>
					<br>
				</section>
				<hr class="uk-divider-icon">
			</div>

		<!-- 	<div>
				
				<section>
					<h3>Pending Requests</h3>
					<table class="uk-table uk-table-striped">
					    <thead>
					        <tr>
					            <th>#</th>
					            <th>Name</th>
					            <th></th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr ng-repeat='i in [1,2,3,4,5] track by $index'>
					            <td>{{ $index+1 }}</td>
					            <td>Justine Che T. Romero</td>
					            <td> 
					            	<a href="" class="uk-icon-button uk-button-primary" uk-icon="plus"></a>
					            	<a href="" class="uk-icon-button uk-button-danger" uk-icon="close"></a>
    							</td>
					        </tr>
					    </tbody>
					</table>
					<h3>Members</h3>
					<div style="height: 50vh; overflow-y: scroll;">
						<table class="uk-table uk-table-striped">
						    <thead>
						        <tr>
						            <th>#</th>
						            <th></th>
						            <th>Name</th>
						            <th>Rank</th>
						            <th>Status</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr ng-repeat='i in [1,2,3,4,5] track by $index'>
						            <td>{{ $index+1 }}</td>
						            <td><a href="" class="uk-icon-button" uk-icon="trash"></a></td>
						            <td>Justine Che T. Romero</td>
						            <td> 
						            	<select class="uk-select">
							                <option selected>Craftsmen</option>
							                <option>Master</option>
							            </select>
        							</td>
						            <td></td>
						        </tr>
						    </tbody>
						</table>
					</div>
					<h3>Add new Member</h3>
						<div class="uk-margin uk-child-width-1-4" uk-grid>
						    <form class="uk-search uk-search-default">
						        <input class="uk-search-input" type="search" placeholder="Search...">
						    </form>
						    <div>
						    	Justine Che T. Romero
						    </div>
						    <div>
				            	<select class="uk-select">
					                <option selected>Craftsmen</option>
					                <option>Master</option>
					            </select>
						    </div>
						    <div>
						    	<button class="uk-button uk-button-primary">Add </button>
						    </div>
						</div>
					<br>
				</section>
				<hr class="uk-divider-icon">
			</div> -->

		</div>
		<div class="uk-width-1-4">

		</div>
	</div>
</div>