<% include ../static/navbar.ejs  %>
<div ng-controller='pageGuildViewController'>
	<br><br>
	<div class="uk-grid-small uk-child-width-expand@s" uk-grid>

		<div class="uk-padding uk-padding-large uk-padding-remove-top uk-width-1-4">
			<div ng-controller='guildViewController'>
				<ul class="uk-thumbnav">
				    <li class="uk-active" style="text-align: center;"><a href=""><img src="assets/guild-blank.png" width="150px" height="150px" alt=""></a></li>
				</ul>
				<br>
				<div uk-sticky="offset: 100">
					<b>{{api.value.name}}</b>
					<div ng-show='api.loading' class="uk-spinner"></div>
			        <ul class="uk-tab-left" uk-tab>
			            <li ng-class="{ 'uk-active' : subpage.here('feed') }" style="padding: 0px"><a  ng-click='subpage.goto("feed")' href="#">Guild Feed</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('members') }" style="padding: 0px"><a  ng-click='subpage.goto("members")' href="#">Members</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('modules') }" style="padding: 0px"><a  ng-click='subpage.goto("modules")' href="#">Modules</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('about') }" style="padding: 0px"><a  ng-click='subpage.goto("about")' href="#">About</a></li>
			            <li ng-class="{ 'uk-active' : subpage.here('settings') }" style="padding: 0px"><a  ng-click='subpage.goto("settings")' href="#">Settings</a></li>
			        </ul>
				</div>
			</div>
		</div>

		<div class="uk-width-1-2">	

			<div ng-show='subpage.here("feed")'>
				<div>

					<% include ../post/new.ejs %>
				</div>
				<div>

					<div ng-controller='postFeedController'>
						<div class="uk-padding">
							<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
							    <a class="uk-alert-close" uk-close></a>
								{{ api.error }}
							</div>
							
							<div ng-repeat='  i in api.list '>
								<div uk-scrollspy="cls:uk-animation-slide-top-small" class="uk-card-hover uk-padding-small" id="ex-card" style="margin-bottom: 10px">
								    <div class="uk-padding-small">
								        <div class="uk-grid-small uk-flex-middle" uk-grid>
								            <img class="uk-border-circle" width="50px" height="50px" src="https://storage.googleapis.com/neris/public/images/types/faces/INFJ-female.svg">
							                <p class="uk-margin-remove-top"> <b>{{ i.author.name }}</b> &middot; <small> <time datetime="{{ i.date }}">{{ i.date | date: "MMMM d, y" }}</time> </small> </p>
								        </div>
								    </div>
								    <div class="uk-padding-small">
								    	<div ng-bind-html='i.content'></div>
								    </div>
								    <div style="text-align: center;">
								    	<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="heart"></a>
										<a href="" class="uk-icon-button" uk-icon="refresh"></a>
										<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="comment"></a>
								    </div>
								</div>
							</div>

							<div class="uk-text-center">
								<br><br>
								<div ng-if='api.loading' uk-spinner></div>
								<div ng-hide='api.loading' class="uk-text-meta"><a href="javascript:void(0)" class="uk-link-muted" ng-click='api.next()'>More</a></div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- <div>
				GUILD MODULES
				<br><br>

				<div ng-repeat='i in [1,2,3,4,5]'>
					<div class="uk-background-default uk-padding">
			            <h3 class="uk-card-title"><a href="">Introduction to Programming</a></h3>
			            <p>
			            	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			            </p>
			            <a class="uk-button uk-button-primary" href='#/module/123'>Get Started</a>
			            <a class="uk-button uk-button-secondary" href="#/module/123/edit" >Open in Editor</a>
			            <a class="uk-button uk-button-secondary" href="#/module/123/edit" >Module Overview</a>
			        </div>
			        <br>
				</div>
			</div> -->

<!-- 			<div>
				<div class="uk-section-default">
				    <div class="uk-section uk-light uk-background-cover" style="background-image: url(assets/guild-cover-default.jpg)">
				        <div class="uk-container">
				            <h1>Hello World Guild</h1>
				        </div>
				    </div>
				</div>
				<br>
				<div>
					<h3>About</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div>
					<h3>Badges Required</h3>
					<ol>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
						<li>Introduction to Computing</li>
					</ol>
				</div>
				
				<h3>Group Ranks</h3>
				<div class="uk-child-width-1-3" uk-grid>
					<div>
						<h4>Guild Masters</h4>
						<ol>
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
					<div>
						<h4>Craftsmen</h4>
						<ol>
							<li>Justine Che T. Romero</li>
							<li>Darryl Anne D. Alang</li>
							<li>Jude Wincel P. Marino</li>
							<li>Rhunzted Cyrus Completo</li>
						</ol>
					</div>
					<div>
						<h4>Guild Moderators</h4>
						<ol>	
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
					<div>
						<h4>Guild Masters</h4>
						<ol>	
							<li>Justine Che T. Romero</li>
							<li>Gerard Marcial Sopsop</li>
						</ol>
					</div>
				</div>
				<br><br><br><br>
				<h3>Founding</h3>
				Group Created By <a href="">Justine Che T. Romero</a> on <b>January 1, 2019</b>
				<br><br><br><br>
			</div>
 -->
			<div ng-show='subpage.here("settings")'>
				<h3>GROUP SETTINGS</h3>
				<hr class="uk-divider-icon">
				<% include ../guild/edit.ejs %>
				<hr class="uk-divider-icon">
				<section>
					<div ng-controller='guildRankController'>
						<div class="uk-grid uk-child-width-1-3">
							
							<div>
								<h3>Ranks</h3>
								<h4>All ranks</h4>
								<ul class="uk-list uk-list-striped">
									<li ng-show='view.loading'><div uk-spinner></div></li>
								    <li ng-hide='view.loading' ng-repeat='i in model.ranks' ><a href="javascript:void(0)" ng-click='view_rank(i)'>{{i.name}}</a></li>
								    <li>
								    	<div ng-show='new.loading' uk-spinner></div> 
								    	<button ng-click='new.submit()' ng-hide='new.loading' class="uk-button uk-button-secondary">Add new Rank</button>
								    </li>
								</ul>
								<hr>
							</div>
							<div class="uk-width-expand" ng-show='edit_model._id'>
								<h4>Edit rank</h4>
								Rank name
						    	<input ng-model='edit_model.name' type="text" class="uk-input">
						    	<hr>
						    	Permissions <br>
						    	<table class="uk-table uk-table-striped">
								    <tbody>
								        <tr>
								            <th>Modules</th>
								            <td>
												<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
										            <label><input ng-checked=' is_permitted("permission_modules",1)' ng-change='check_change("permission_modules")' ng-model='temp_model.permission_modules[0]' class="uk-checkbox" type="checkbox" > Add</label>
										            <label><input ng-checked=' is_permitted("permission_modules",2)' ng-change='check_change("permission_modules")' ng-model='temp_model.permission_modules[1]' class="uk-checkbox" type="checkbox" > Update</label>
										            <label><input ng-checked=' is_permitted("permission_modules",4)' ng-change='check_change("permission_modules")' ng-model='temp_model.permission_modules[2]' class="uk-checkbox" type="checkbox" > Remove</label>
										        </div>
								            </td>
								        </tr>
								        <tr>
								            <th>Membership</th>
								            <td>
												<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
										            <label><input ng-checked=' is_permitted("permission_members",1)'  ng-change='check_change("permission_members")'  ng-model='temp_model.permission_members[0]'  class="uk-checkbox" type="checkbox" > Add</label>
										            <label><input ng-checked=' is_permitted("permission_members",2)'  ng-change='check_change("permission_members")'  ng-model='temp_model.permission_members[1]'  class="uk-checkbox" type="checkbox" > Update</label>
										            <label><input ng-checked=' is_permitted("permission_members",4)'  ng-change='check_change("permission_members")'  ng-model='temp_model.permission_members[2]'  class="uk-checkbox" type="checkbox" > Remove</label>
										        </div>
								            </td>
								        </tr>
								        <tr>
								            <th>Group Settings</th>
								            <td>
												<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
										            <label><input ng-checked=' is_permitted("permission_settings",1)'  ng-change='check_change("permission_settings")'  ng-model='temp_model.permission_settings[0]' class="uk-checkbox" type="checkbox" > Update</label>
										            <label><input ng-checked=' is_permitted("permission_settings",2)'  ng-change='check_change("permission_settings")'  ng-model='temp_model.permission_settings[1]' class="uk-checkbox" type="checkbox"> Delete Group</label>
										        </div>
								            </td>
								        </tr>
								        <tr>
								        	<th>Posts</th>
								        	<td>
												<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
										            <label><input ng-checked=' is_permitted("permission_posts",1)'  ng-change='check_change("permission_posts")'  ng-model='temp_model.permission_posts[0]'  class="uk-checkbox" type="checkbox"> Remove</label>
										        </div>
								        	</td>
								        </tr>
								    </tbody>
								</table>
				    	
						    	<div ng-show='edit.loading || delete.loading' >
							    	<div uk-spinner></div>
						    	</div>
						    	<button ng-hide='edit.loading || delete.loading' ng-click='edit.submit()' class="uk-button uk-button-primary  uk-margin-remove"> Save Rank</button>
						    	<button ng-hide='edit.loading || delete.loading' ng-click='delete_this()' class="uk-button uk-button-danger  uk-margin-remove"> <span ng-show='!delete_confirm'> Delete Rank </span><span  ng-show='delete_confirm'> Confirm? </span> </button>
							</div>
						</div>
					</div>
				</section>
				<hr class="uk-divider-icon">
				<section>
					<h3>Badge Requirements</h3>
					<div style="height: 50vh; overflow-y: scroll;">
						<table class="uk-table uk-table-striped">
						    <thead>
						        <tr>
						            <th>#</th>
						            <th></th>
						            <th>Badge</th>
						            <th>Guild</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr ng-repeat='i in [1,2,3,4,5] track by $index'>
						            <td>{{ $index+1 }}</td>
						            <td><a href="" class="uk-icon-button" uk-icon="trash"></a></td>
						            <td>Hello World Badge</td>
						            <td>Hello World Guild</td>
						        </tr>
						    </tbody>
						</table>
					</div>
					<h3>Add new Badge</h3>
					<div class="uk-margin uk-child-width-1-3" uk-grid>
					    <form class="uk-search uk-search-default">
					        <input class="uk-search-input" type="search" placeholder="Search...">
					    </form>
					    <div>
					    	Competitive Programming Guild
					    </div>
					    <div>
					    	<button class="uk-button uk-button-primary">Add </button>
					    </div>
					</div>
					<br>
				</section>
				<hr class="uk-divider-icon">
				<section>
					<div ng-controller='guildDeleteController'>
						<h4>Danger Zone</h4>
						<blockquote cite="#">
						    <p class="uk-margin-small-bottom">Please take note that this action can not be undone.</p>
						</blockquote>
						<button class="uk-button uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #modal-delete">Delete Guild</button>
						

						<div id="modal-delete" uk-modal>
						    <div class="uk-modal-dialog uk-modal-body">
						        <h2 class="uk-modal-title">Delete</h2>
						        <p style="color: red">Are you sure you want to delete this guild together with all of it's modules?</p>
						        <div ng-show='api.error' class="uk-alert-danger" uk-alert>
						        	{{api.error}}
						        </div>
							        <p class="uk-text-right">
							        	<div ng-if='api.loading'>
							        		<div uk-spinner></div>
							        	</div>
							            <button ng-hide='api.loading' class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
							            <button ng-hide='api.loading' ng-click='api.delete()' class="uk-button uk-button-danger" type="button">Delete</button>
							        </p>
							</div>
						</div>
				    </div>
				</section>
						<br><br><br><br>
						<br><br><br><br>
			</div>

			<div ng-show='subpage.here("members")'>
				
				<section>
					<h3>Pending Requests</h3>
					<div ng-controller='guildMainPendingController'>
						<div ng-show='list.loading' uk-spinner></div>
						<p ng-show='!list.list.length'>No pending request.</p>
						<div ng-show='!list.loading && list.list.length' style="max-height: 50vh; overflow-y: scroll;">
							<table class="uk-table uk-table-striped">
							    <thead>
							        <tr>
							            <th>#</th>
							            <th></th>
							            <th>Name</th>
							            <th>Message</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr ng-repeat='i in list.list track by $index'>
							            <td>{{ $index+1 }}</td>
							            <td>
							            	<div ng-if='approve.loading || reject.loading' uk-spinner></div>
							            	<a ng-if='!approve.loading && !reject.loading' ng-click='approve_user(i.user)' href="javascript:void(0)" class="uk-icon-button" uk-icon=""><i class="fas fa-check"></i></a>
							            	&nbsp;&nbsp;
							            	<a ng-if='!approve.loading && !reject.loading' ng-click='reject_user(i)' href="javascript:void(0)" class="uk-icon-button" uk-icon=""><i class="fas fa-times"></i></a></td>
							            <td>{{ i.user.name }}</td>
							            <td> 
							            	{{ i.message }}
	        							</td>
							        </tr>
							    </tbody>
							</table>
						</div>
					</div>
					<h3>Members</h3>
					<div ng-controller='guildMembershipController'>
						<div ng-if='delete.error' class="uk-alert uk-alert-danger" uk-alert>
							{{ delete.error }}
						</div>
						<div style="max-height: 50vh; overflow-y: scroll;">
							<div ng-hide='model.users.length'>
								<div uk-spinner></div>
							</div>
							<div ng-show='model.users.length'>
								<table class="uk-table uk-table-striped">
								    <thead>
								        <tr>
								            <th>#</th>
								            <th></th>
								            <th>Name</th>
								            <th>Rank</th>
								            <th>Status</th>
								        </tr>
								    </thead>
								    <tbody>
								        <tr ng-repeat='i in model.users track by $index'>
								            <td>{{ $index+1 }}</td>
								            <td>
								            	<a ng-show='!(delete.loading || ( !delete_confirm || delete.target != i._id) ) ' ng-click='delete_user(i)' href="javascript:void(0)" class="uk-text-meta" style="color: red">Confirm?</a>
								            	<div ng-show='delete.loading && delete.target == i._id '>
								            		<div uk-spinner></div>
								            	</div>
								            	<a ng-show='!((delete_confirm && delete.target == i._id ))' href="javascript:void(0)" ng-click='delete_user(i)' class="uk-icon-button" uk-icon="trash"></a>
								            </td>
								            <td>{{ i.user.name }}</td>
								            <td> 
								            	<select ng-change='update_privileges(i)' ng-options="rank.name as rank.name for rank in model.ranks" ng-model="i.ranks[0]" class="uk-select">
									            </select>
		        							</td>
								            <td>
												<div ng-if='edit.error && edit.view.target == i._id ' class="uk-alert uk-alert-danger" uk-alert>
													{{ edit.error }}
												</div>
								            	<div ng-show='edit.loading && edit.view.target == i._id '>
								            		<div uk-spinner></div>
								            	</div>
								            </td>
								        </tr>
								    </tbody>
								</table>
							</div>
						</div>
						<h3>Add new Member</h3>
							<div ng-if='new.error' class="uk-alert uk-alert-danger" uk-alert>
								{{ new.error }}
							</div>
							<div class="uk-margin uk-child-width-1-3" uk-grid>
							   	
			                    <div>
			                        <form class="uk-search uk-search-default">
			                            <input ng-model='search.query' ng-change="searchtry()" class="uk-search-input uk-input" type="search" placeholder="Search...">
			                        </form>
			                        <div  uk-sticky='offset: 100; z-index: 2'>
			                            <div ng-if='search.query' >
			                                <div ng-controller='userListController'>
			                                    <div class="uk-card uk-card-default"  style="border-radius: 3px">
			                                        <div class="uk-padding-small">
			                                             <ul class="uk-nav uk-dropdown-nav">
			                                                <li class="uk-nav-header">Results</li>
			                                                <li style="text-align: center;" ng-show="!api.loading && !api.list.length"><i>No Results found :(</i></li>
			                                                <li style="text-align: center;"> <div ng-show='api.loading' uk-spinner></div></li>
			                                                <li style="padding: 0px" ng-repeat='i in api.list'><a href="javascript:void(0)" ng-click='select_user(i)'  >{{i.name}}</a></li>
			                                                <li class="uk-nav-divider"></li>
			                                            </ul>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>

			                    <div>
			                    	{{ selected_user.name }}
			                    </div>
							    <div>									
							    	<div ng-show='new.loading'>
							    		<div uk-spinner></div>
							    	</div>
							    	<button ng-hide='new.loading' ng-click='new.submit()' class="uk-button uk-button-primary">Add </button>
							    </div>
							</div>
						<br>
					</div>
				</section>
				<hr class="uk-divider-icon">
			</div>

		</div>
		<div class="uk-width-1-4">

		</div>
	</div>
</div>