<!-- <div ng-include="'pages/shared/navbar'" ></div> -->
<div ng-controller="moduleViewerController" class="uk-padding-large uk-padding-remove-top">
	

	<div id="module-sidebar" uk-offcanvas='overflow: true; mode: push'>
	    <div class="uk-offcanvas-bar">

	        <ul class="uk-nav uk-nav-default">
	            <li class="uk-nav-header">Introduction to Programming</li>
	            <li class="uk-active"><a href="#">Navigation</a></li>
	            <li><a href="#/dashboard" onclick="UIkit.offcanvas('#module-sidebar').hide();" >Home</a></li>
	            <li class="uk-nav-header">Pages</li>
	            <li><a href="#">Page 1</a></li>
	            <li><a href="#">Page 2</a></li>
	            <li><a href="#">Page 3</a></li>
	            <li class="uk-nav-divider"></li>
	            <li><a href="#">Item</a></li>
	        </ul>

	    </div>
	</div>
	

	<div class="uk-padding">
		<a href="javascript:void(0)" class="uk-icon-button uk-margin-small-right" uk-toggle="target: #module-sidebar" uk-icon="menu"></a>
	</div>
	
	<div class="uk-padding-large uk-padding-remove-top">
		
		<div style="min-height: 80Vh" class="uk-padding-large">
			<article class="uk-article" >
			    <h1 style="text-align: center;"  class="uk-article-title uk"><a class="uk-link-reset" href="">Heading</a></h1>

			    <p  style="text-align: center;" class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>

			    <div class="uk-padding">
				    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			    </div>
			</article>

			<hr class="uk-divider-icon">
<!-- 
			<div style="text-align: center;">
				<h5>CHALLENGE RESPONSE</h5>
				Your answer
				<div class="uk-child-width-1-5 uk-padding-small">
					<input type="text" class="uk-input" >
				</div>
				<button class="uk-button uk-button-primary">SUBMIT</button>
			</div> -->
			<div style="text-align: left;" class="uk-padding">
				<b>SAMPLE TEST CASES</b>
				<br><br>


				<div ng-repeat='i in [1,2,3]' class="uk-width-2-3">
					<b>TESTCASE {{i}}</b> 	
					<div class="uk-child-width-1-2" uk-grid>
						<div>
							<small style="text-align: center;">INPUT</small>
							<pre class="uk-background-muted" style="min-height: 20vh; padding: 15px; margin-top: 0px"><code>1</code></pre>
						</div>
						<div>
							<small style="text-align: center;">OUTPUT</small>
							<pre class="uk-background-muted" style="min-height: 20vh; padding: 15px; margin-top: 0px"><code>1</code></pre>
						</div>
					</div>
					<br>
				</div>
				<br>
				<b>EXPLANATION</b>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<hr class="uk-divider-icon">

				<div>
					<b>CHALLENGE RESPONSE</b>

					<ul uk-tab>
					    <li class="uk-active"><a href="#">Submit</a></li>
					    <li><a href="#">Previous Submissions</a></li>
					</ul>
					
					<div>
						<table class="uk-table uk-table-striped">
						    <thead>
						        <tr>
						            <th>#</th>
						            <th>SCORE</th>
						            <th>VERDICT</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
						            <td>1</td>
						            <td>10/40</td>
						            <td><em>Wrong Answer</em></td>
						        </tr>
						        <tr>
						            <td>2</td>
						            <td>20/40</td>
						            <td><em>Time Limit Exceeded</em></td>
						        </tr>
						        <tr>
						            <td>3</td>
						            <td>50/50</td>
						            <td><em>Wrong Answer</em></td>
						        </tr>
						    </tbody>
						</table>
					</div>

					<div>
						<nav style="margin-bottom: 0px" class="uk-navbar uk-navbar-container uk-margin">
						    <div class="uk-navbar-left">
						        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>  
						        Language &nbsp;&nbsp;
						        <div class="uk-margin">
						            <select class="uk-select" style="border-radius: 10px">
						                <option>Python 2</option>
						                <option>Python 3</option>
						                <option>C</option>
						                <option>C++</option>
						                <option>Javascript</option>
						            </select>
						        </div>
						    </div>
						</nav>
						
						<div class="uk-padding-small uk-padding-remove-top ">
							<textarea class="uk-border-rounded" id='editor-challenge'></textarea>
						</div>

						<div class="uk-text-right">
							<button class="uk-button uk-button-default uk-border-rounded" style="background-color: #59b761; color: white">Run Code</button>
							<button class="uk-button uk-button-default uk-border-rounded" >Submit</button>
						</div>
					</div>

					<div>
						

						<ul class="uk-tab-bottom" uk-tab>
						    <li class="uk-active"><a href="#">Testcase 1</a></li>
						    <li><a href="#">Testcase 2</a></li>
						    <li><a href="#">All</a></li>
						</ul>

						<div>
							<div class="uk-text-center">
								<b>YOUR SCORE</b> <br>
								<b><em>10</em>/50</b>
							</div>
							<ul class="uk-list uk-list-striped">
								<li> <span class="uk-margin-small-right" uk-icon="check"></span> Test Case 1 &middot; 10 &middot; <em>TLE</em> </li>
								<li> <span class="uk-margin-small-right" uk-icon="check"></span> Test Case 2 &middot; 10 &middot; <em>TLE</em> </li>
								<li> <span class="uk-margin-small-right" uk-icon="check"></span> Test Case 3 &middot; 10 &middot; <em>TLE</em> </li>
								<li> <span class="uk-margin-small-right" uk-icon="check"></span> Test Case 4 &middot; 10 &middot; <em>TLE</em> </li>
								<li> <span class="uk-margin-small-right" uk-icon="check"></span> Test Case 5 &middot; 10 &middot; <em>TLE</em> </li>
							</ul>
							
								<div>
									<br>
									<b>SOURCE CODE</b>
									<br><br>
									<div style="padding: 5px; padding-top: 20px; border: 1px solid #dedede">
										<div hljs>


		import math
		print(10)


	</div>
									</div>
									
								</div>
						</div>
						
						<div>
							<div class="uk-text-center">
								<b>VERDICT  </b> <br>
								<b><em>RUN TIME ERROR</em></b>
							</div>

							<div>
								<div class="uk-child-width-1-3" uk-grid>
									<div>
										<small style="text-align: center;">INPUT</small>
										<pre class="uk-background-muted" style="min-height: 20vh; padding: 15px; margin-top: 0px"><code>1</code></pre>
									</div>
									<div>
										<small style="text-align: center;">OUTPUT</small>
										<pre class="uk-background-muted" style="min-height: 20vh; padding: 15px; margin-top: 0px"><code>1</code></pre>
									</div>
									<div>
										<small style="text-align: center;">YOUR OUTPUT</small>
										<pre class="uk-background-muted" style="min-height: 20vh; padding: 15px; margin-top: 0px"><code>1</code></pre>
									</div>
								</div>
								
							</div>
						</div>

						<hr class="uk-divider-icon">
					</div>
				</div>
			</div>
			
		</div>



		<ul class="uk-pagination">
		    <li><a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
		    <li class="uk-margin-auto-left"><a href="#">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
		</ul>
	</div>
</div>