<div uk-sticky="offset: 100">
	<div class="uk-padding">
		<small>
			<ul uk-accordion>
			    <li class="uk-open">
			        <a class="uk-accordion-title" href="#">  <small><span uk-icon="icon: user" class="uk-icon-button"></span> Active Friends </small> </a>
			        <div class="uk-accordion-content">
					    <ul class="uk-nav uk-nav-default">
					        <li><a href="#"><span class="uk-badge uk-label-success" style="padding: 0px">1</span> &nbsp;&nbsp;Justine Che T. Romero</a></li>
					        <li><a href="#"><span class="uk-badge uk-label-success" style="padding: 0px"></span> &nbsp;&nbsp;Darryl Anne D. Alang</a></li>
					        <li><a href="#"><span class="uk-badge uk-label-danger" style="padding: 0px">7</span> &nbsp;&nbsp;Gerard Marcial Sopsop</a></li>
					    </ul>
			        </div>
			    </li>
			</ul>
		</small>
	</div>
</div>