<div uk-sticky="offset: 100">
	<ul class="uk-nav uk-nav-default"  >
        <li class="uk-nav-header">Guilds </li>
        
        <li><a class="uk-padding-remove" href="#">Advanced Programming Club</a> </li>
        <li><a class="uk-padding-remove" href="#">Beginner's Guide</a></li>
        <li><a class="uk-padding-remove" href="#">Web development</a></li>
        <li><a class="uk-padding-remove" href="#">More</a></li>

        <li class="uk-nav-header">Active Modules</li>
        <li><a class="uk-padding-remove" href="#">Using Math</a></li>
        <li><a class="uk-padding-remove" href="#">Game development</a></li>
    </ul>
</div>