<div uk-sticky="offset: 100">
	<ul class="uk-nav uk-nav-default"  >
        <li class="uk-nav-header">Guilds </li>
        
        <li><a class="uk-padding-remove" href="#/guild/123">Advanced Programming Club</a> </li>
        <li><a class="uk-padding-remove" href="#/guild/123">Beginner's Guide</a></li>
        <li><a class="uk-padding-remove" href="#/guild/123">Web development</a></li>
        <li><a class="uk-padding-remove" href="#/guild/123">More</a></li>

        <li class="uk-nav-header">Recent Modules</li>
        <li><a class="uk-padding-remove" href="#">Using Math</a></li>
        <li><a class="uk-padding-remove" href="#">Game development</a></li>
    </ul>
</div>