<div ng-controller='newsfeedController' ng-init='group = ""'>
			<hr class="uk-divider-icon">
			<div class="uk-text-center uk-text-muted uk-text-center">Here's what your friends are up to</div>			
			<br>
			<div ng-repeat='i in posts'>
				<div class="uk-card uk-card-default uk-card-hover uk-card-body">
					<article class="uk-article">
						<div>
				    		<img data-src="https://storage.googleapis.com/neris/public/images/types/faces/INFJ-female.svg" width="50px" height="50px" uk-img>
				    		<b class="uk-ali">{{i.author}}</b> <small> <i><a href="">@randomName</a></i> &middot; Hello World Guild &middot; 5hrs </small>							
						</div>

						<p>
							<div ng-bind-html='i.content'></div>
						</p>
					    <!-- <p>
					    	<p>
					    		Random lines that won't make sense. <br>
					    		I can put edit lines of code.
					    		<div hljs>import wew

print('Yehey')

</div>
								<b>Bold</b> , <i>Italic</i> and <small>font</small> <big> sizes</big>
					    	</p> -->
					    </p>
					    <div class="uk-grid-small uk-child-width-auto" uk-grid>
					        <div>
					           <a href="javascript:void(0)" ng-click='view_details()'> See More </a>
					        </div>
					        <div>
					            <a class=" " href="#"> <span uk-icon="icon: heart"></span> </a>
					        </div>
					        <div>
					            <a class=" " href="#"> <span uk-icon="icon: refresh"></span> </a>
					        </div>
					        <div>
					          	<a class=" " href="#"> <span uk-icon="icon: comment"></span> </a>
					        </div>
					    </div>
					</article>
				</div>
				<br>
				
			</div>



			<div id="modal-post-details" class="uk-modal-full" uk-modal>
			    <div class="uk-modal-dialog">
			        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
			        <div class="uk-grid-collapse uk-child-width-1-5@s uk-flex-middle" uk-grid>

			            <div class="uk-padding-large uk-width-3-5" uk-height-viewport>
			                <h1>Post title</h1>
			                <article class="uk-article">
								<div>
						    		<img data-src="https://storage.googleapis.com/neris/public/images/types/faces/INFJ-female.svg" width="50px" height="50px" uk-img>
						    		<b class="uk-ali">Random Name</b> <small> <i><a href="">@randomName</a></i> &middot; Hello World Guild &middot; 5hrs </small>							
								</div>
							    <p>
							    	<p>
							    		Random lines that won't make sense. <br>
							    		I can put edit lines of code.
							    		<div hljs>import wew

		print('Yehey')

		</div>
							    		<div hljs>import wew

		print('Yehey')

		</div>
							    		<div hljs>import wew

		print('Yehey')

		</div>
							    		<div hljs>import wew

		print('Yehey')

		</div>
							    		<div hljs>import wew

		print('Yehey')

		</div>
										<b>Bold</b> , <i>Italic</i> and <small>font</small> <big> sizes</big>
							    	</p>
							    </p>
							    <div class="uk-grid-small uk-child-width-auto" uk-grid>
							        <div>
							            <a class=" " href="#"> <span uk-icon="icon: heart"></span> </a>
							        </div>
							        <div>
							            <a class=" " href="#"> <span uk-icon="icon: refresh"></span> </a>
							        </div>
							        <div>
							          	<a class=" " href="#"> <span uk-icon="icon: comment"></span> </a>
							        </div>
							    </div>
							</article>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
			            </div>
			            <div class="uk-width-2-5 uk-padding-small">
			            	<div  uk-sticky="offset: 100">
				            	<h3>Discussion</h3>
				            	<div class="uk-padding uk-padding-remove-top" style="padding-left: 0px">
				            		<div id="editor-comment" style="height: 20vh;">
									  <p>Write something ...</p>
									</div>
									<br>
									<button class="uk-button uk-button-danger uk-align-right">Post</button>
				            	</div>
				            	<br>
				            	<hr>
				            	<div style="height: 80vh; overflow-y: scroll;">
					            	<small>
					            		<div ng-repeat='i in [1,2,3,4,6,7,8,9]'>
						            		<article class="uk-article">
												<div>
										    		<img data-src="https://storage.googleapis.com/neris/public/images/types/faces/INFJ-female.svg" width="30px" height="30px" uk-img>
										    		<b class="uk-ali">Random Name</b> <small> &middot; Hello World Guild &middot; 5hrs </small>							
												</div>
											    <p>
											    	<p>
											    		Random lines that won't make sense. <br>
											    		I can put edit lines of code.
														<b>Bold</b> , <i>Italic</i> and <small>font</small> <big> sizes</big>
											    	</p>
											    </p>
											    <div class="uk-grid-small uk-child-width-auto" uk-grid>
											        <div>
											           <a href="javascript:void(0)" ng-click='view_details()'> See More </a>
											        </div>
											        <div>
											            <a class=" " href="#"> <span uk-icon="icon: heart"></span> </a>
											        </div>
											        <div>
											            <a class=" " href="#"> <span uk-icon="icon: refresh"></span> </a>
											        </div>
											        <div>
											          	<a class=" " href="#"> <span uk-icon="icon: comment"></span> </a>
											        </div>
											    </div>
											</article>
										    <hr>
					            		</div>
					            	</small>
				            		
				            	</div>
			            		
			            	</div>
			            </div>
			        </div>
			    </div>
			</div>
</div>
