
<ul class="uk-nav uk-nav-default">
    <li class="uk-nav-header">Notifications <span class="uk-badge">5</span></li>
    <li> 
        <div class="uk-alert-primary" style="padding: 13px; margin-top: 0px; margin-bottom: 4px" uk-alert>
		    <a class="uk-alert-close " uk-close></a>
		    <p><b>@Gerard</b> followed you!</p>
		</div>
        <div class="uk-alert-primary" style="padding: 13px; margin-top: 0px; margin-bottom: 4px" uk-alert>
		    <a class="uk-alert-close " uk-close></a>
		    <p> Guilds has new posts.</p>
		</div>
		<br>
	</li>
    
    

	<li class="uk-nav-divider"></li>
</ul>