<div ng-controller="textEditorController">
	<div  ng-hide='editor.active' class="uk-card uk-card-body uk-card-default">
		<h2>Write something</h2>
		<input  ng-click='editor.toggle();' onclick="this.blur();this.value=''" class="uk-input" type="" placeholder="Write something ...">
	</div>
	<div  ng-show='editor.active' class="uk-card uk-card-default uk-card-hover uk-card-body uk-padding">

		<h2>Write something</h2>
		<div id="text-editor" style="height: 20vh;"></div>
		<br>
		<button ng-disabled="editor.is_empty()" class="uk-button uk-button-danger" ng-click='editor.submit()'>Post</button> &nbsp;&nbsp;
		<button class="uk-button uk-button-secondary " ng-click='editor.toggle()'>Cancel</button>
	</div>	
</div>
