
<div id="feed-editor-container" style="display: none;margin: 10px;" class="uk-card uk-card-body ex-boundary">
	

	<div id="feed-editor" style="display: none;" ng-show='!feed_editor_active' class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto ">
            <img class="uk-border-circle uk-animation-scale-up" style='width: 25px; height: 25px' width="25" height="25" ng-src="{{ SESSION_USER.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
        </div>
		<div class="uk-width-expand">
			<div ng-click='feed_editor_toggle()' class="ex-boundary uk-text-muted" style="padding: 2px;padding-left: 10px; cursor: text;">
				<small>{{ SESSION_USER.name.first }}, write something...</small>
			</div>
		</div>
    </div>
	<div id="feed-editor-block" style="display: none">
		<handler bind='post-new' model='{ group: null, parent: null }'>
			<editor api='$ctrl.api' bind='$ctrl.model.content' access="on_feed_editor" style='min-height: 30vh;'></editor>
			<div style="margin-top: 5px;padding-left: 5px">
				<div class="uk-float-left">
					<img  class="uk-border-circle uk-animation-scale-up" style='width: 25px; height: 25px' width="25" height="25" ng-src="{{ SESSION_USER.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
		           	<small>{{ SESSION_USER.fullname }}</small>
				</div>
				<div class="uk-float-right">
					<div ng-show='$ctrl.api.config.state.loading' uk-spinner></div>
					<div ng-show='!$ctrl.api.config.state.loading'>
						<button ng-click='feed_editor_toggle()' class="uk-button uk-button-small uk-button-default" style="border-radius: 4px">Cancel</button>
						<button ng-class="{ 'ex-button uk-button-primary': $ctrl.model.content, 'uk-button-default': !$ctrl.model.content  }" ng-click='$ctrl.submit()' class="uk-button uk-button-small uk-button-primary ex-button ">Post</button>
					</div>
				</div>
				<div class="uk-float-right" style="color: red; padding-right: 5px" ng-show='$ctrl.api.config.feedback.error'>{{$ctrl.api.config.feedback.error}}</div>
			</div>
		</handler>
	</div>
</div>

<br>
<handler bind='post-list' refer='true'>
	<div style="color: red;" ng-show='$ctrl.api.config.feedback.error'>{{$ctrl.api.config.feedback.error}}</div>
	<div ng-show='$ctrl.api.config.state.loading' class="uk-text-center">
		<div uk-spinner></div>
	</div>
	<!-- <div uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div; delay: 500;"> -->
	<div>
		<div class="uk-card uk-card-body ex-boundary " style="margin-top: 5px" ng-repeat='i in $ctrl.model'>
			<div>
				<div uk-grid> 
					<div class="uk-width-auto ">
		                <img  class="uk-border-circle " style='border: 1px solid #dadada; width: 25px; height: 25px' width="25" height="25" ng-src="{{ i.author.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
		            </div>
		            <div class="uk-width-expand" style="padding: 0px; padding-left: 15px;">
		            	<a href="#!/profile/{{i.author._id}}" style="color: #2b2b2b"><small>{{i.author.fullname}}</small></a> &middot; 
		            	<i><small><a class="uk-link-muted" href="#!/profile/{{i.author._id}}">@{{i.author.username}}</a></small></i>
		            	<i><small>{{moment(i.date).fromNow()}}</small></i> 
		            </div>
		            <div class="uk-width-expand uk-text-right " style="padding-right: 15px;">
	            		<a ng-show='post_owned(i)' href="javascript:void(0)"><i class="fas fa-angle-down uk-text-right ex-post-feedback"></i></a>
            		    <div uk-dropdown="mode: click; pos: bottom-right" style="padding: 15px;">
            		    	<ul class="uk-nav uk-dropdown-nav uk-text-left">
								<li><a href="javascript:void(0)" ng-click='post_edit(i)' ><i class="fas fa-pen"></i> Edit  </a>  </li>
								<li><a href="javascript:void(0)" ng-click='post_delete(i)' ><i class="fas fa-trash"></i> Delete</a> </li>
								<li><a href="javascript:void(0)" ></a></li>
							</ul>
            		    </div>
		            </div>
				</div>
			</div>
			<div style="padding: 5px;">
				<editor-view data='{{i.content}}'></editor-view>
				<div class="uk-text-right">
					<a ng-click='$ctrl.view(i,"like")' href="javascript:void(0)"><i ng-class='{ "ex-red": post_check_like(i) }' class="fas fa-heart  ex-post-feedback"></i></a> &nbsp;&nbsp;
					<!-- <a ng-click='$ctrl.view(i,"share")' href="javascript:void(0)"><i ng-class='{ "ex-green": post_check_share(i) }'  class="fas fa-retweet ex-post-feedback"></i></a> &nbsp;&nbsp; -->
					<a ng-click='$ctrl.view(i,"reply")' href="javascript:void(0)"><i class="fas fa-share ex-post-feedback"></i></a> &nbsp;&nbsp;
				</div>
			</div>
		</div>

	</div>
</handler>

<div>
	<entity bind='post-edit'>
		<div id='editor-modal' uk-modal>
			<div class="uk-modal-body uk-modal-dialog ex-boundary">
				<div class="uk-text-center" ng-show='$ctrl.get.config.state.loading'>
					<div uk-spinner></div>
				</div>
				<div ng-hide='$ctrl.get.config.state.loading'>
					<handler bind='{{ $ctrl.put.config.id }}' model='$ctrl.model'>
						<editor api='$ctrl.api' bind='$ctrl.model.content' access="on_edit_editor" style='height: 30vh;'></editor>
						<div style="margin-top: 5px;padding-left: 5px">
							<div class="uk-float-left">
								<img  class="uk-border-circle uk-animation-scale-up" style='width: 25px; height: 25px' width="25" height="25" ng-src="{{ SESSION_USER.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
					           	<small>{{ SESSION_USER.fullname }}</small>
							</div>
							<div class="uk-float-right">
								<div ng-show='$ctrl.api.config.state.loading' uk-spinner></div>
								<div ng-show='!$ctrl.api.config.state.loading'>
									<button class="uk-button uk-button-small uk-button-default uk-modal-close" style="border-radius: 4px">Cancel</button>
									<button ng-class="{ 'ex-button uk-button-primary': $ctrl.model.content, 'uk-button-default': !$ctrl.model.content  }" ng-click='$ctrl.submit()' class="uk-button uk-button-small uk-button-primary ex-button ">Save</button>
								</div>
							</div>
							<div class="uk-float-right" style="color: red; padding-right: 5px" ng-show='$ctrl.api.config.feedback.error'>{{$ctrl.api.config.feedback.error}}</div>
						</div>
					</handler>			
				</div>
			</div>
		</div>
		<div id='delete-modal' uk-modal>
			<div class="uk-modal-body uk-modal-dialog ex-boundary">
				<div class="uk-text-center" ng-show='$ctrl.get.config.state.loading || $ctrl.delete.config.state.loading'>
					<div uk-spinner></div>
				</div>
				<div ng-hide='$ctrl.get.config.state.loading || $ctrl.delete.config.state.loading'>
					<handler bind='{{ $ctrl.delete.config.id }}' model='$ctrl.model'>
						<div class="uk-padding">
							Are you sure you want to delete this post? <br>
							<i style="color: red">Note: this can not be undone.</i>
						</div>
						<div class="uk-padding-small">
							<button class="uk-modal-close uk-button uk-button-small uk-button-default" style="border-radius: 4px;"> Cancel </button>
							<button ng-click='$ctrl.submit()' class="uk-button uk-button-small uk-button-primary ex-button ">Delete</button>
						</div>
					</handler>			
				</div>				
			</div>
		</div>
	</entity>	
	<div id="reply-modal" uk-modal>
		<div class="uk-modal-body uk-modal-dialog" style="background: rgba(0,0,0,0);">
		    <div style="background: white;" class="ex-boundary">
		    	<entity bind='post-view'>
		    		<handler bind='{{ $ctrl.get.config.id }}' model='$ctrl.model' >
		    			<div ng-show = '$ctrl.api.config.state.loading' class="uk-text-center uk-padding-small">
		    				<div uk-spinner></div>
		    			</div>
				        <div ng-hide = '$ctrl.api.config.state.loading'>
							<div uk-grid> 
								<div class="uk-width-auto ">
					                <img  class="uk-border-circle " style='border: 1px solid #dadada; width: 25px; height: 25px' width="25" height="25" ng-src="{{ $ctrl.model.author.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
					            </div>
					            <div class="uk-width-expand" style="padding: 0px; padding-left: 15px;">
					            	<a href="#!/profile/$ctrl.model.author._id" style="color: #2b2b2b"><small>{{$ctrl.model.author.fullname}}</small></a> &middot; 
					            	<i><small><a class="uk-link-muted" href="#!/profile/$ctrl.model.author._id">@{{$ctrl.model.author.username}}</a></small></i>
					            	<i><small>{{moment($ctrl.model.date).fromNow()}}</small></i> 
					            </div>
				                <div class="uk-width-expand uk-text-right " style="padding-right: 15px;">
				            		<a ng-show='post_owned($ctrl.model)' href="javascript:void(0)"><i class="fas fa-angle-down uk-text-right ex-post-feedback"></i></a>
			            		    <div uk-dropdown="mode: click; pos: bottom-right" style="padding: 15px;">
			            		    	<ul class="uk-nav uk-dropdown-nav uk-text-left">
											<li><a href="javascript:void(0)" ng-click='post_edit($ctrl.model)' ><i class="fas fa-pen"></i> Edit  </a>  </li>
											<li><a href="javascript:void(0)" ng-click='post_delete($ctrl.model)' ><i class="fas fa-trash"></i> Delete</a> </li>
											<li><a href="javascript:void(0)" ></a></li>
										</ul>
			            		    </div>
					            </div>
							</div>
							<div style="padding: 5px;">
								<editor-view data='{{$ctrl.model.content}}' access='get_render'></editor-view>
								<div class="uk-text-right">
									<a ng-click='feedback( $ctrl.model ,"like")' href="javascript:void(0)"><i ng-class='{ "ex-red": post_check_like($ctrl.model) }' class="fas fa-heart  ex-post-feedback"></i></a> &nbsp;&nbsp;
									<!-- <a ng-click='feedback( $ctrl.model ,"share")' href="javascript:void(0)"><i ng-class='{ "ex-green": post_check_share($ctrl.model) }'  class="fas fa-retweet ex-post-feedback"></i></a> &nbsp;&nbsp; -->
									<a ng-click='feedback( $ctrl.model ,"reply")' href="javascript:void(0)"><i class="fas fa-share ex-post-feedback"></i></a> &nbsp;&nbsp;
								</div>
							</div>
						</div>
		    		</handler>	
		    	</entity>
		    </div>
	    	<handler bind='reply-list'>
	    		<div class="uk-padding-small">
			    	<div style="color: red;" ng-show='$ctrl.api.config.feedback.error'>{{$ctrl.api.config.feedback.error}}</div>
					<div style="color: white" ng-show='$ctrl.api.config.state.loading' class="uk-text-center">
						<div uk-spinner></div>
						Loading Replies...
					</div>
					<!-- <div uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div; delay: 150;"> -->

						<div style="background: white; margin-top: 5px;" class=" uk-card uk-card-body ex-boundary " ng-repeat='i in $ctrl.model' >
							<div>
								<div>
									<div uk-grid> 
										<div class="uk-width-auto ">
							                <img  class="uk-border-circle " style='border: 1px solid #dadada; width: 25px; height: 25px' width="25" height="25" ng-src="{{ i.author.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
							            </div>
							            <div class="uk-width-expand" style="padding: 0px; padding-left: 15px;">
							            	<a href="#!/profile/{{i.author._id}}" style="color: #2b2b2b"><small>{{i.author.fullname}}</small></a> &middot; 
							            	<i><small><a class="uk-link-muted" href="#!/profile/{{i.author._id}}">@{{i.author.username}}</a></small></i>
							            	<i><small>{{moment(i.date).fromNow()}}</small></i> 
							            </div>
							            
							            <div class="uk-width-expand uk-text-right " style="padding-right: 15px;">
						            		<a ng-show='post_owned(i)' href="javascript:void(0)"><i class="fas fa-angle-down uk-text-right ex-post-feedback"></i></a>
					            		    <div uk-dropdown="mode: click; pos: bottom-right" style="padding: 15px;">
					            		    	<ul class="uk-nav uk-dropdown-nav uk-text-left">
													<li><a href="javascript:void(0)" ng-click='post_edit(i)' ><i class="fas fa-pen"></i> Edit  </a>  </li>
													<li><a href="javascript:void(0)" ng-click='post_delete(i)' ><i class="fas fa-trash"></i> Delete</a> </li>
													<li><a href="javascript:void(0)" ></a></li>
												</ul>
					            		    </div>
							            </div>
									</div>
								</div>
								<div style="padding: 5px;">
									<editor-view data='{{i.content}}'></editor-view>
									<div class="uk-text-right">
										<a ng-click='$ctrl.view(i,"like")' href="javascript:void(0)"><i ng-class='{ "ex-red": post_check_like(i) }' class="fas fa-heart  ex-post-feedback"></i></a> &nbsp;&nbsp;
										<!-- <a ng-click='$ctrl.view(i,"share")' href="javascript:void(0)"><i ng-class='{ "ex-green": post_check_share(i) }'  class="fas fa-retweet ex-post-feedback"></i></a> &nbsp;&nbsp; -->
										<a ng-click='$ctrl.view(i,"reply")' href="javascript:void(0)"><i class="fas fa-share ex-post-feedback"></i></a> &nbsp;&nbsp;
									</div>
								</div>
							</div>
						</div>

					<!-- </div> -->
	    			
	    		</div>
	    	</handler>
	    	<div>
	    		<div  id="reply-editor-container" style="display: none;margin: 10px; background: white" class="uk-card uk-card-body ex-boundary">
					<div id="reply-editor" style="display: none;" ng-show='!feed_editor_active' class="uk-grid-small uk-flex-middle" uk-grid>
				        <div class="uk-width-auto ">
				            <img class="uk-border-circle uk-animation-scale-up" style='width: 25px; height: 25px' width="25" height="25" ng-src="{{ SESSION_USER.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
				        </div>
						<div class="uk-width-expand">
							<div ng-click='reply_editor_toggle()' class="ex-boundary uk-text-muted" style="padding: 2px;padding-left: 10px; cursor: text;">
								<small>{{ SESSION_USER.name.first }}, so what do you think?</small>
							</div>
							<!-- <p class="uk-text-truncate" style="font-size: 12pt; font-family: 'Roboto', sans-serif">{{ SESSION_USER.name.first }} Che</p> -->
						</div>
				    </div>
				    <div id="reply-editor-block" style="display: none; background: white">
						<handler bind='reply-new' model='reply.model'>
							<editor api='$ctrl.api' bind='$ctrl.model.content' access="on_reply_editor_reply" style='height: 30vh;'></editor>
							<div style="margin-top: 5px;padding-left: 5px">
								<div class="uk-float-left">
									<img  class="uk-border-circle uk-animation-scale-up" style='width: 25px; height: 25px' width="25" height="25" ng-src="{{ SESSION_USER.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">
						           	<small>{{ SESSION_USER.fullname }}</small>
								</div>
								<div class="uk-float-right">
									<div ng-show='$ctrl.api.config.state.loading' uk-spinner></div>
									<div ng-show='!$ctrl.api.config.state.loading'>
										<button ng-click='reply_editor_toggle()' class="uk-button uk-button-small uk-button-default" style="border-radius: 4px">Cancel</button>
										<button ng-class="{ 'ex-button uk-button-primary': $ctrl.model.content, 'uk-button-default': !$ctrl.model.content  }" ng-click='$ctrl.submit()' class="uk-button uk-button-small uk-button-primary ex-button ">Post</button>
									</div>
								</div>
								<div class="uk-float-right" style="color: red; padding-right: 5px" ng-show='$ctrl.api.config.feedback.error'>{{$ctrl.api.config.feedback.error}}</div>
							</div>
						</handler>
					</div>
	    		</div>
	    	</div>
		</div>
	</div>
</div>