<section >
	<div ng-controller='guildEditController'>
		<div style="text-align: center;">
			<div ng-show='api.view.loading' uk-spinner></div>
		</div>
		<div ng-hide='!api.view.value ||api.view.loading' class="uk-animation-slide-bottom-small">
			<form ng-submit='api.submit()'>
				<h3>Main Settings</h3>
				<b>Guild Name </b> <br>
				<input  required ng-model='model.name' type="text" class="uk-input">
				<b>Guild Description </b> <br>
				<textarea required  ng-model='model.description' class="uk-textarea"></textarea>						
				<br>
				<br>
				<div class="uk-child-width-1-2" uk-grid>
					<div style="padding-left: 100px"> 
						<img src="assets/guild-blank.png" width="200px" height="200px">
					</div>
					<div>
						<b>Guild Coat of Arms </b> <br>
						<small><em>500 x 500 px</em></small><br>
						<div uk-form-custom>
				            <input type="file">
				            <button class="uk-button uk-button-default" type="button" tabindex="-1">Select Image</button>
				        </div>
						<p>
							Guild Coat of Arms symbolizes your Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>
				</div>
				<br>
		        <b>Guild Cover </b><br>
				<br>
				<div class="uk-section uk-light uk-background-cover" style="background-image: url(assets/guild-cover-default.jpg)">
			        <div class="uk-container">
			        </div>
			    </div>
			    <br>
			    Replace Cover : <div uk-form-custom>
		            <input type="file">
		            <button class="uk-button uk-button-default" type="button" tabindex="-1">Select Image</button>
		        </div>
		        <div style="text-align: center;">
					<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
					    <a class="uk-alert-close" uk-close></a>
						{{ api.error }}
					</div>
					<br>
					<div ng-if='api.loading' uk-spinner></div>
		        	<button ng-hide='api.loading' type="submit" class="uk-button uk-button-primary">SAVE GROUP DESCRIPTIONS</button>
		        </div>
			</form>
			
		</div>
	</div>
</section>

