<div ng-controller='guildNewController'>

	<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
	    <a class="uk-alert-close" uk-close></a>
		{{ api.error }}
	</div>
	<form ng-submit='api.submit()'>
		<b class="uk-text-meta">Guild Name</b> <br>
		<input style="width: 200px; border-radius: 5px" type="text" class="uk-input" ng-model='model.name'  placeholder="Name" > <br>
		<br>
		<b class="uk-text-meta">Describe your guild</b> <br>
		<textarea style="width: 200px; height: 200px; border-radius: 5px" type="text" class="uk-input" ng-model='model.description'  placeholder="Description" ></textarea>
		<br>
		<div ng-if='api.loading' uk-spinner></div>
		<br>
		<button style="border-radius: 5px" type="submit" ng-if='!api.loading' class="uk-button uk-button-primary">Continue</button>
	</form>


	
</div>