<div>
	<b>GET API</b><br>	
	<div ng-show='$ctrl.api.config.state.loading'>Loading...</div>
	<div ng-show='$ctrl.api.config.feedback.error'>ERROR: {{$ctrl.api.config.feedback.error}}</div>
	<div ng-hide='$ctrl.api.config.state.loading || !$ctrl.model'>

		<table>
			<tr ng-repeat='(i,v) in $ctrl.model'>
				<th>{{i}}</th>
				<td>{{v}}</td>
			</tr>
		</table>		
	</div>
</div>