<div ng-controller='ajax'>

<h1>AJAX</h1>

<div>
	<h2>Add values</h2>

	<form ng-submit='post()'>
		Name:  <input ng-model='form.name' type="text" name="name"> <br> 
		Password: <input ng-model='form.password' type="password" name="password"> <br>
		<input type="submit" value="Add">
	</form>
	<br>
</div>

<hr><hr>

<button ng-click='fetch()'>Fetch</button>

<div>
	<h2>JSON</h2>
	<hr>
	{{ result }}
	<hr>
	<br>
</div>

<div>
	<h2>Parsed</h2>
	<hr>
	<ul>
		<li ng-repeat='i in result'> {{ i.name }} </li>
	</ul>
	<hr>
	<br>
</div>



</div>
