<div ng-controller='badgeListController' ng-init="api.init()">
	
	<a href="javascript:void(0)" ng-click="api.load()">Reload</a>

	<a href="javascript:void(0)" ng-click="api.next()">Next</a>
	<a href="javascript:void(0)" ng-click="api.prev()">Previous</a>

	<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
	    <a class="uk-alert-close" uk-close></a>
		{{ api.error }}
	</div>
	<div ng-if='api.loading' uk-spinner></div>
	<ol>
		<li ng-repeat='  i in api.list '>{{i}}</li>
	</ol>
</div>