<div id="badge-forger" class="uk-modal-full" uk-modal='stack: true'>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" style="background-image: url('assets/badge-sample.png');" uk-height-viewport></div>
            <div class="uk-padding">
                <div ng-controller='pageBadgeViewController'>
                    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                    <h1>Badge Forger</h1>
                    <p>Customize Badges</p>
                    <div ng-controller='badgeEditController'>
                        <div class="uk-text-center" ng-show='api.view.loading'>
                            <div uk-spinner></div>
                        </div>
                        <div ng-show='api.view.target && !api.view.loading'>
                            <div class="uk-child-width-1-2" uk-margin>  
                                Badge Name <br>
                                    <input ng-model='model.name' type="text" class="uk-input uk-form-small" name="" placeholder="Badge Name">
                            </div>
                            Photo <br>
                            <div uk-form-custom="target: true">
                                <input type="file">
                                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                            </div>
                            <br><br>

                            <div class="uk-text-center" ng-show='api.loading'>
                                <div uk-spinner></div>
                            </div>
                            <div ng-show='api.error' class="uk-alert uk-alert-danger">
                                {{api.error}}
                            </div>
                            <div class="uk-child-width-1-2" uk-grid>
                                <div class=" uk-text-left">
                                    <button  ng-hide='api.loading' ng-click='api.submit()' class="uk-button uk-button-small uk-button-primary">SAVE</button>
                                </div>
                                <div class="uk-text-right" ng-controller='badgeDeleteController' >
                                    <div class="uk-text-center" ng-show='api.loading'>
                                        <div uk-spinner></div>
                                    </div>
                                    <div ng-show='api.error' class="uk-alert uk-alert-danger">
                                        {{api.error}}
                                    </div>
                                    <button ng-click='api.delete()' ng-hide='api.loading' ng-click='api.submit()' class="uk-button uk-button-small uk-button-danger">Delete</button>
                                </div>
                            </div>
                            
                            
                            <br><br>
                        </div>
                    </div>

                    <div ng-controller='badgeListController'>
                        <ul class="uk-pagination">
                            <li><a href="javascript:void(0)" ng-click='api.prev()'><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
                            <li class="uk-margin-auto-left"><a href="javascript:void(0)" ng-click='api.next()'>Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
                        </ul>
                        <div  style="height: 30vh; overflow-y: scroll;">
                            <ul class="uk-list-striped uk-list">
                                <li class="uk-text-center" ng-show='api.loading'>
                                    <div uk-spinner></div>
                                </li>
                                <li  ng-hide='api.loading' ng-click='edit_badge(i)' style="cursor: pointer;" ng-repeat='i in api.list track by $index'>{{$index+1}}. {{i.name}}</li>
                            </ul>

                        </div>
                    </div>

                    <div ng-controller='badgeNewController'>
                        <div class="uk-text-center" ng-show='api.loading'>
                            <div uk-spinner></div>
                        </div>
                        <div ng-show='api.error' class="uk-alert uk-alert-danger">
                            {{api.error}}
                        </div>
                        <button ng-hide='api.loading' ng-click='api.submit()' class="uk-button uk-button-small uk-button-primary">ADD NEW</button>
                    </div>
                    
                </div>
    
            </div>
        </div>
     </div>
</div>