<br><br><br>
<div class="uk-section uk-section-secondary">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-6@m" uk-grid>
            <div>
                <h2>Programming Guild</h2>
                <li style="padding: 0px">Lorem ipsum dolor sit amet</li>
            </div>
            <div></div>
            <div>
                <h4>Services</h4>
                <ul class="uk-list">
                    <li style="padding: 0px">Classroom Hosting</li>
                    <li style="padding: 0px">API Guide</li>
                    <li style="padding: 0px">FAQ</li>
                </ul>
            </div>
            <div>
                <h4>Resources</h4>
                <ul class="uk-list">
                    <li style="padding: 0px">Documentation</li>
                    <li style="padding: 0px">Blog</li>
                    <li style="padding: 0px">Support</li>
                </ul>
            </div>
            <div>
                <h4>Company</h4>
                <ul class="uk-list">
                    <li style="padding: 0px">About Us</li>
                    <li style="padding: 0px">Team</li>
                    <li style="padding: 0px">Contact Us</li>
                    <li style="padding: 0px">Partners</li>
                </ul>
            </div>
            <div>
                <h4>Connect</h4>
                <ul class="uk-list">
                    <li style="padding: 0px">Facebook</li>
                    <li style="padding: 0px">Twitter</li>
                    <li style="padding: 0px">LinkedIn</li>
                </ul>
            </div>
        </div>
    </div>
</div>