<nav ng-controller='navbarController' class="uk-navbar-container uk-margin" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#"> &lt; Guild &gt; </a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">More</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Settings</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Guilds</a></li>
                            <li><a href="#">Administration</a></li>
                            <hr>
                            <li><a href="#">Cookie Use Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Agreements</a></li>
                            <hr>
                            <li><a ng-click='logout()' href="javascript:void(0)" >Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div></div>

    </div>
</nav>
