<!DOCTYPE html>
<html>
<head>
	<title>User Database</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>
<body>
	<div class="container">
		<h1>Gumagana bes!</h1>
	</div>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h2>List of all users</h2>
			</div>
			<div class="container">
				<h2>Certain User</h2>
			</div>
		</div>
	</div>
</body>
</html>