<div ng-include="'pages/static/navbar'" ></div>

<div ng-controller='pageUserViewController' class="uk-animation-fade">

	<div ng-if="subpage.here('error')">
		<div class="uk-padding uk-margin">
			<div class="uk-grid uk-child-width-1-4">
				<div></div>
				<div class="uk-width-1-2" style="text-align: center;">
					<br><br>
					<img style="width: 700px;" src="https://storage.googleapis.com/neris/public/images/types/scenes/analysts_Logician_INTP_introduction.svg">
					<h2 style="margin-bottom: 0px;">That user doesn't exist.</h2>
					<h4 style="margin-top: 3px">Missing, eh?</h4>
					<a class="uk-text-meta" href="/#/dashboard">Go Back to Home</a>
				</div>
			</div>
		</div>
	</div>

		
	<div ng-controller='userViewController'>
		<div ng-show="subpage.here('main')" class="uk-animation-slide-bottom-small">

			<div class="uk-section uk-section-secondary uk-light">
			    <div class="uk-container">


			        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
			            <div>
			            </div>
			            <div style="text-align: center;">
			            	<div>
				            	<img class="uk-border-circle" src="https://abs.twimg.com/sticky/default_profile_images/default_profile.png" style="width: 150px; height: 150px;">
			            	</div>
					        <h3 style="margin-bottom: 0px">{{ api.value.name }}</h3>
					       	<i class="uk-text-meta" style="color: white; font-size: 15pt">Shitty Person</i>
					       	<br><br>
					       	<div ng-show='user._id != profile_user '>
					       		<div ng-show='follow.loading'>
					       			<div uk-spinner></div>
					       		</div>
						       	<button ng-hide='follow.loading' 	ng-click='follow_click()' class="uk-button" style="border-radius: 5px; color: white; background: linear-gradient(45deg,#0086b3,#00b3b3); width: 150px;">{{ user.follows.includes(profile_user) ? "Unfollow" : "Follow" }}</button>
					       	</div>
			            </div>
			            <div>
			            </div>
			        </div>

			    </div>
			</div>
			<div class="uk-section uk-section-default">
			    <div class="uk-container">


			        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
			            <div>
			            </div>
			            <div style="text-align: center;">
			                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
			                	<div>
			                		<b>Following</b><br>
			                		<big>{{api.value.follows.length}}</big>
			                	</div>
			                	<div>
			                		<b>Followers</b><br>
			                		<big>{{api.value.followed_by.length}}</big>
			                	</div>
			                	<div>
			                		<b>Badges</b><br>
			                		<big>{{api.value.badges.length}}</big>
			                	</div>
			                </div>

					        <h3>About</h3>
			                <p ng-show="api.value.bio" uk-scrollspy="cls: uk-animation-slide-bottom-small" class="uk-text-lead">{{ api.value.bio  }}</p>
			                <p ng-hide="api.value.bio" uk-scrollspy="cls: uk-animation-slide-bottom-small" class="uk-text-lead"> " Too shy to leave a bio " </p>

			                <div class="uk-padding uk-padding-remove-vertical">
			                	<p uk-scrollspy="cls: uk-animation-slide-bottom-small" class="uk-text-meta"> {{ api.value.school }} </p>
			                	<p ng-if='api.value.birthday' uk-scrollspy="cls: uk-animation-slide-bottom-small" class="uk-text-meta">Born on {{ api.value.birthday | date: "MMMM d, y" }}</p>
			                </div>
			                <br>
			                <hr>

			                <div ng-if='api.value.badges.length > 0'>
						        <h3 style="margin-top: 0px">Badges</h3>
				            	<div uk-scrollspy="target: > img; cls:uk-animation-fade; delay: 500">
					            	<img uk-tooltip="title: Beginner's Badge" src="/assets/badge-sample.png" style="width: 100px; height: 100px">
					            	<img uk-tooltip="title: Beginner's Badge" src="/assets/badge-sample.png" style="width: 150px; height: 150px">
					            	<img uk-tooltip="title: Beginner's Badge" src="/assets/badge-sample.png" style="width: 100px; height: 100px">
					            	<br>
					            	<a class="uk-text-muted" href="javascript:void(0)">View more</a>
				            	</div>
				            	<hr>
			                </div>
			                <div ng-if='api.value.guilds.length > 0'>
						        <h3 style="margin-top: 0px">Guilds</h3>
				            	<div uk-scrollspy="target: > img; cls:uk-animation-fade; delay: 500">
					            	<img uk-tooltip="title: Beginner's Guild" src="/assets/guild-blank.png" style="width: 100px; height: 100px">
					            	<img uk-tooltip="title: Beginner's Guild" src="/assets/guild-blank.png" style="width: 150px; height: 150px">
					            	<img uk-tooltip="title: Beginner's Guild" src="/assets/guild-blank.png" style="width: 100px; height: 100px">
					            	<br>
					            	<a class="uk-text-muted" href="javascript:void(0)">View more</a>
				            	</div>
				            	<br>
				            	<hr>
			                </div>

			            </div>
			            <div>
			            </div>
			        </div>

			    </div>
			</div>

		</div>
	</div>
<!-- 
	<div ng-show="subpage.here('main')" class="uk-child-width-1-3" uk-grid>
		<div></div>
		<div></div>
		<div>
			<div id='totop-sticky' style="text-align: center;padding-right: 30px" >

				<div uk-sticky="offset: 600; top: 70vh">
					<a href="#" uk-totop uk-scroll>Go to Top &nbsp;</a>
				</div>
			</div>
		</div>
	</div> -->

	<div ng-show="subpage.here('main')" class="uk-animation-slide-bottom-small">
		<div class="uk-text-center">
			<h2>Recent Activity</h2>
		</div>
		<div>
			<div class="uk-child-width-1-4" uk-grid>
				<div></div>
				<div class="uk-width-1-2">
					<div>
						<div ng-include="'pages/post/list'"></div>
					</div>
				</div>
				<div id='totop-sticky' style="text-align: center;padding-right: 30px" >
					<!-- <div uk-sticky="offset: 600">
						<a href="#" uk-totop uk-scroll>Go to Top &nbsp;</a>
					</div> -->
				</div>
			</div>
		</div>
		<div>
		</div>
	</div>





</div>