<div ng-init="editor.init('code-editor')" ng-controller='submissionNewController'>

	<div ng-if='api.error' class="uk-alert uk-alert-danger" uk-alert>
	    <a class="uk-alert-close" uk-close></a>
		{{ api.error }}
	</div>

	<input type="text" class="uk-input" ng-model='model.challenge' placeholder="Challenge">

	<textarea id='code-editor'></textarea>
	<button ng-if='!api.loading' class="uk-button uk-button-primary" ng-click='api.submit()'>Submit</button>
	
	<div ng-if='api.loading' uk-spinner></div>
	
</div>