<div uk-sticky="offset: 550">
	<small>
        <div style="text-align: center;">
            <a class="uk-text-meta" href="">FAQ</a> &middot; <a class="uk-text-meta" href="">About</a> &middot; <a class="uk-text-meta" href="">Cookie</a> &middot; <a class="uk-text-meta" href="">Terms</a> &middot; <a class="uk-text-meta" href="">Privacy</a> 
        </div>
	</small>
</div>