<div style="z-index: 100" uk-sticky="offset: 100; bottom: #marker-page-bottom">
	<br><br>
	<div style="text-align: center;">
		<!-- <i style="font-size: 60pt" class="fas fa-dog"></i>
		<br><br><br> -->
        <input class="uk-search uk-input uk-form-small" placeholder="Find your interests...">
	</div>
	<br>
    <div ng-controller='guildListController' ng-init='identifier="navbar"'>
        <ul ng-show='api.list.length' class="uk-nav uk-nav-default uk-animation-slide-bottom-small">
            
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">Your Guilds</li>
            <li ng-repeat='i in api.list' ><a style="padding: 0px" href="#/guild/{{i._id}}">{{i.name}}</a></li>
        </ul>
    </div>
</div>