<div uk-sticky="offset: 100">
	<br><br>
	<div style="text-align: center;">
		<!-- <i style="font-size: 60pt" class="fas fa-dog"></i>
		<br><br><br> -->
        <input class="uk-search uk-input uk-form-small" placeholder="Find your interests...">
	</div>
	<br>
    <ul class="uk-nav uk-nav-default">
    	
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">Your Guilds</li>
        <li ><a style="padding: 0px" href="#">Beginner's Guild</a></li>
        <li ><a style="padding: 0px" href="#">Hello World Guild</a></li>
        <li ><a style="padding: 0px" href="#">PSHS-BRC Advanced Programming Club</a></li>
    </ul>
</div>