<div uk-sticky="offset: 10">
	<br><br>
	<div style="text-align: center;">
        <img src="https://storage.googleapis.com/neris/public/images/types/infj-advocate.svg" width="200">
        <br><br>
        <i>The Founder</i>
        <h4 style="margin-top: 0px; margin-bottom: 0px">Justine Che T. Romero</h4>
        <a class="uk-text-meta" href="">@justroX</a>
        <small>
            <ul class="uk-nav uk-nav-default">
                
                <li class="uk-nav-divider"></li>
                <li ><a style="padding: 0px" href="#">Profile</a></li>
                <li ><a style="padding: 0px" href="#">Settings</a></li>
                <li ><a style="padding: 0px" href="#">About</a></li>
            </ul>
            <br><br>

            <br>
            <br>
            <br>
            <br>
            <div style="text-align: center;">
                <a class="uk-text-meta" href="">FAQ</a> &middot; <a class="uk-text-meta" href="">About</a> &middot; <a class="uk-text-meta" href="">Cookie</a> &middot; <a class="uk-text-meta" href="">Terms</a> &middot; <a class="uk-text-meta" href="">Privacy</a> 
            </div>
            <br><br>
        </small>
    </div>
</div>