<% include navbar %>
<div ng-controller='badgeController'>
	<div class="uk-child-width-1-3" uk-grid>
		<div></div>
	    <div class="uk-padding">
	        <div>
	            <h1>Badge Forger</h1>
	            <p>Customize Badges</p>
	            <div>
	            	<entity bind='badge'>
		                <div class="uk-text-center" ng-show='$ctrl.get.config.state.loading'>
		                    <div uk-spinner></div>
		                </div>
		                <div  ng-hide='$ctrl.get.config.state.loading'>
		            		<handler bind='{{$ctrl.put.config.id}}' model='$ctrl.value.model'>
				                <div ng-show='$ctrl.model._id'>
				                    <div class="uk-child-width-1-2" uk-margin>  
				                        Badge Name <br>
				                            <input ng-model='$ctrl.model.name' type="text" class="uk-input uk-form-small" name="" placeholder="Badge Name">
				                    </div>
				                    Photo <br>
				                    <img  id="badge-preview" style="width: 100px; height: 100px" width="100" height="100" ng-src="{{$ctrl.model.asset || 'https://img.icons8.com/dusk/64/000000/prize.png' }}"><br>
				                    <div uk-form-custom="target: true">
				                        <input onchange="angular.element(this).scope().image_change()" ng-model='temp' id="badge-input" type="file" accept="image/*" >
				                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
				                    </div>
				                    <br><br>

				                    <div class="uk-text-center" ng-show='$ctrl.api.config.state.loading'>
				                        <div uk-spinner></div>
				                    </div>
				                    <div ng-show='$ctrl.api.error' class="uk-alert uk-alert-danger">
				                        {{$ctrl.api.error}}
				                    </div>
				                    <div class="uk-child-width-1-2" uk-grid>
				                        <div class=" uk-text-left">
				                            <button  ng-hide='$ctrl.api.config.state.loading' ng-click='$ctrl.submit()' class="uk-button uk-button-small uk-button-primary">SAVE</button>
				                        </div>
			                        </div>
			                    </div>				                    
		            		</handler>
		            		<div ng-show='$ctrl.value.model._id'>
		                        <div>
		                        	<handler bind='{{ $ctrl.delete.config.id }}' >
			                            <div class="uk-text-center" ng-show='$ctrl.api.config.state.loading'>
			                                <div uk-spinner></div>
			                            </div>
			                            <div ng-show='$ctrl.api.config.feedback.error' class="uk-alert uk-alert-danger">
			                                {{$ctrl.api.config.feedback.error}}
			                            </div>
			                            <small>
				                            <a href="javascript:void(0)" ng-hide='$ctrl.api.config.state.loading' ng-click='$ctrl.submit()' class="uk-link-muted">Delete</a>
			                            </small>
		                        	</handler>
				                </div>
				             </div>
			                <br><br>
		                </div>
	            	</entity>

	            </div>

	            <div>
	            	<handler bind='badge-list'>
		                <ul class="uk-pagination">
						    <li ng-show='$ctrl.api.page!=0'><a href="javascript:void(0)" ng-click='api.prev()'><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
						    <li ng-show='$ctrl.api.page!=$ctrl.api.page_max' class="uk-margin-auto-left"><a href="javascript:void(0)" ng-click='$ctrl.api.next()'>Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
		                </ul>
		                <div  style="height: 30vh; overflow-y: scroll;">
		                    <ul class="uk-list-striped uk-list">
		                        <li class="uk-text-center" ng-show='$ctrl.api.config.state.loading'>
		                            <div uk-spinner></div>
		                        </li>
		                        <li  ng-hide='$ctrl.api.config.state.loading'  style="cursor: pointer;" ng-repeat='i in $ctrl.model track by $index'>  {{$index+1}}. <a href="javascript:void(0)" ng-click='$ctrl.view(i)'> {{i.name}} </a> </li>
		                    </ul>

		                </div>
	            	</handler>
	            </div>

	            <div>
	            	<handler bind='badge-new' model='{ name: "New Badge" }'>
		                <div class="uk-text-center" ng-show='$ctrl.api.config.state.loading'>
		                    <div uk-spinner></div>
		                </div>
		                <div ng-show='$ctrl.api.config.feedback.error' class="uk-alert uk-alert-danger">
		                    {{$ctrl.api.config.feedback.error}}
		                </div>
		                <div class="uk-text-center">
			                <button ng-hide='$ctrl.api.config.state.loading' ng-click='$ctrl.submit()' class="uk-button uk-button-small uk-button-primary">ADD NEW</button>
		                </div>
	            	</handler>
	            </div>
	            
	        </div>

	    </div>
	</div>
</div>