<div ng-include="'page/navbar'" ></div>
<div>
	<div class="uk-grid-small uk-child-width-expand@s" uk-grid>
		<div class="uk-padding uk-padding-large uk-padding-remove-top uk-width-1-4">
		</div>
		<div class="uk-width-1-2">

			<div class="uk-padding uk-padding-remove-top">
				<ul class="uk-flex-center" uk-tab>
				    <li ng-class='{ "uk-active" : subpage.Ispage("discover") }'><a  ng-click='subpage.goto("discover")' href="javascript:void(0)">DISCOVER</a></li>
					<li ng-class='{ "uk-active" : subpage.Ispage("feed") }'><a  ng-click='subpage.goto("feed")' href="javascript:void(0)">FEED</a></li>
				    <li ng-class='{ "uk-active" : subpage.Ispage("events") }'><a  ng-click='subpage.goto("events")' href="javascript:void(0)">EVENTS</a></li>
				</ul>
			</div>

		</div>
		<div class="uk-width-1-4">
		</div>
	</div>
	<br><br><br><br><br><br>
</div>