<div ng-include="'pages/static/navbar'" ></div>
<div ng-controller='staticDashboardController'>
	<br><br>
	<div class="uk-grid-small uk-child-width-expand@s" uk-grid>
		<div class="uk-padding uk-padding-large uk-padding-remove-top uk-width-1-4">
		
		</div>
		<div class="uk-width-1-2">
			<h1>Hello</h1>

			<div ng-include="'pages/components/post/new'"></div>
			<hr>
			<div ng-include="'pages/components/post/edit'"></div>
			<hr>
			<div ng-include="'pages/components/post/view'"></div>
			<hr>
			<div ng-include="'pages/components/post/delete'"></div>
			<hr>
			<div ng-include="'pages/components/post/list'"></div>


		


		</div>
		<div class="uk-width-1-4">
			
		</div>
	</div>
</div>