<% include navbar %>
<div ng-controller='dashboardController'>
	<div class="uk-grid-small uk-child-width-expand" uk-grid>

		<div class="uk-padding-remove-top uk-width-1-5 uk-visible@m">

			<div class="uk-padding" uk-sticky='offset: 50'>
				<div class="uk-background-muted ex-boundary ">
					<div class="uk-grid-small uk-flex-middle uk-animation-slide-bottom-small" uk-grid>
			            <div class="uk-width-auto ">
		            	       <img style="width: 25px; height: 25px;" class="uk-border-circle uk-animation-scale-up" width="25" height="25" src="{{ SESSION_USER.profile_pic || 'https://abs.twimg.com/sticky/default_profile_images/default_profile.png'}}">   </div>
						<div class="uk-width-expand">
							<p class="uk-text-truncate" style="font-size: 12pt; font-family: 'Roboto', sans-serif">{{ SESSION_USER.name.first }}</p>
						</div>
			        </div>
			        <div class="uk-width-large" uk-dropdown>
						{{ SESSION_USER.fullname }}
					    <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
					        <div>
					            <ul class="uk-nav uk-dropdown-nav">
					                <li class="uk-active"><a href="#">Active</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-header">Header</li>
					                <li><a href="#">Item</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-divider"></li>
					                <li><a href="#">Item</a></li>
					            </ul>
					        </div>
					        <div>
					            <ul class="uk-nav uk-dropdown-nav">
					                <li class="uk-active"><a href="#">Active</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-header">Header</li>
					                <li><a href="#">Item</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-divider"></li>
					                <li><a href="#">Item</a></li>
					            </ul>
					        </div>
					    </div>
					</div>

				</div>
				<br>
				<div class="uk-background-muted ex-boundary">
					<ul class="uk-nav uk-nav-default uk-animation-slide-bottom-small">
			            <li><a style="padding: 0px"  ng-class='{ "uk-active" : subpage.Ispage("feed") }' 	ng-click='subpage.goto("feed")' 	href="javascript:void(0)"><i class="fas fa-coffee"></i> Feeds</a></li>
			            <li><a style="padding: 0px"  ng-class='{ "uk-active" : subpage.Ispage("group") }' 	ng-click='subpage.goto("group")' 	href="javascript:void(0)"><i class="fas fa-campground"></i> Groups</a></li>
			            <li><a style="padding: 0px"  ng-class='{ "uk-active" : subpage.Ispage("discover") }'ng-click='subpage.goto("discover")' href="javascript:void(0)"><i class="fab fa-envira"></i> Discover</a></li>
			            <li class="uk-nav-divider"></li>
			            <li><a style="padding: 0px" ng-class='{ "uk-active" : subpage.Ispage("settings") }'ng-click='subpage.goto("settings")'  href="javascript:void(0)"><i class="fas fa-cog"></i> Settings</a></li>
			         </ul>					
				</div>
			</div>

		</div>
		<div class="uk-width-1-6@s uk-hidden@m"></div>
		<div class="uk-width-1-2@m uk-width-2-3@s">
			<br>

			<div ng-show='subpage.Ispage("feed")' class="uk-animation-slide-bottom-small">
				<% include dashboard/feed %>
			</div>
			<div ng-show='subpage.Ispage("group")' class="uk-animation-slide-bottom-small">
				<% include dashboard/group %>
			</div>
			<div ng-show='subpage.Ispage("settings")' class="uk-animation-slide-bottom-small">
				<% include dashboard/settings %>
			</div>

		</div>
		<div class="uk-width-1-4">
		</div>
	</div>
	<br><br><br><br><br><br>
</div>