<div class="uk-padding">
	<div class="uk-padding">
		<div class="uk-text-center">
			<h3>Frequently Asked Questions</h3>
		</div>
		<p>Bangag ako nung ginawa ko to so sorry sa maling grammar.</p>
		<div class="uk-padding">
			<b>1. How do I sign up?</b> <br>
			<p>Sorry but Programmer's Guild is a closed group. You can only join if someone from inside has invited you. But if you really want to join you could <a href="">contact us</a> directly.</p>
			<br>
			<b>2. Is access free?</b> <br>
			<p><em class="uk-text-success">ABSOLUTELY</em>. You don't need any money, just enough motivation to get started.</p>
			<br>
			<b>2. What benefits will I have if I join?</b> <br>
			<p>Bicol programmer's guild has the vision to build an interactive community where everybody could share their knowledge and expertise in IT and Computer Science. If you are a total beginner, this is for you. Our services provides you with materials and mentorship which would help you get started and eventually climbed up the industry ladder.</p>
			<br>
			<b>3. Who are the members of this community?</b> <br>
			<p>Programmer's guild is a group which are exclusively available for students and professionals from Bicol, Philippines. Our student members are mostly from Universities and High Schools in Bicol Region ( i.e. Bicol University, Philippine Science High School - Bicol Region Campus, etc. ). Please take note that we are not, in any way, affiliated with any of the schools listed.</p>
			<br>
			<b>4. What specifically can I achieve?</b> <br>
			<p>Growth and progress in Computer Science and Information Technology are rapidly speeding up and the best we can do is catch up with it. By this website, we offer learning materials and an engaging community in order for students to learn more and faster than conventional way. Now is the time that knowledge are not constricted to textbook materials and open for everyone. We offer several guilds and modules pertaining to Introductory Courses, Web development, App Development, Problem Solving, and more. As we grow and expand we intend to increase this material to cope up with the recent changes in technology. </p>
		 	
		</div>
		<br>
	</div>
</div>