<div class="uk-padding">
	<div class="uk-padding">
		<div class="uk-text-center">
			<h3>Frequently Asked Questions</h3>
		</div>
		<div class="uk-padding">

			<b>1. What grade level should I be to start?</b> <br>
			<p><i>We don't care.</i> You can be a child, a student, an adult or an elderly. As long as you can read and write you are perfect to get started. We value the motivation and persistence of an individual more than their academic standing.</p>
			<br>
			<b>2. Is access free?</b> <br>
			<p><em class="uk-text-success"><b>ABSOLUTELY</b></em>. You don't need any money, just enough motivation to get started.</p>
			<br>
			<b>3. What can I learn in the guild?</b> <br>
			<p>Bicol programmer's guild has the vision to build an interactive community where everybody could share their knowledge and expertise in IT and Computer Science. If you are a total beginner, this is for you. Our services provide you with materials and mentorship which would help you get started and eventually get to climb the industry ladder.</p>
			<p>Growth and progress in Computer Science and Information Technology is speeding up and the best we can do is catch up with it. By this website, we offer learning materials and an engaging community in order for students to learn more and faster than the conventional way. Specifically, we offer several guilds and modules pertaining to Introductory Courses, Web development, App Development, Problem Solving, Game development, and more. As we grow and expand we intend to increase our materials to cope up with the recent changes in technology</p>
			<br>
			<b>4. Who are the members of this community?</b> <br>
			<p>Programmer's guild is a group which is exclusively available for students and professionals from Bicol, Philippines. Our student members are mostly from Universities and High Schools in the Bicol Region ( i.e. Bicol University, Philippine Science High School - Bicol Region Campus, etc. ). Please take note that we are not, in any way, affiliated with any of the schools listed.</p>
			<br>
			<b>5.Great! How do I sign up?</b> <br>
			<p>Here's the catch. Sorry but Programmer's Guild is a closed group. You can only join if an existing member has invited you. However, we give invitation links to different schools and institutions for bulk registrations. Best if you inquire your school first for an invitation link. But if you really want to join (or want an invitation link for your group), please do <a href="">contact us</a>.</p>
			<br>
			<b>6. I am an expert ( teacher, instructor, professional ) in the field of Computer Science / Information Technology, how can I help?</b> <br>
			<p>Giving back to the community is a very honorable virtue, we sincerely admire you. If you want to share your expertise with the next generations, please show your support by making use of our platform within your class lessons and activities. Additionally, you can create guilds and modules for your students. If you do have additional ideas and feedbacks regarding our educational platform, please do <a href="">contact Us</a> </p>
			<br>
		 	
		</div>
		<br>
	</div>
</div>