<div class="uk-section uk-section-xsmall uk-section-muted">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-6 uk-padding" uk-grid>
            <div class="uk-width-1-3">
                <i style="font-size: 30pt" class="fab fa-fort-awesome"></i>
                <h3 style="margin-top: 0px; margin-bottom: 2px">Programmer's Guild</h3>
                <small>A programming community</small>
            </div>
            <div>
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">Community</li>
                    <li><a style="padding: 0px" href="#/static/blog">Blog</a></li>
                    <li><a style="padding: 0px" href="#/static/documentation">Documentation</a></li>
                    <li><a style="padding: 0px" href="#/static/learn">Learn</a></li>
                    <li><a style="padding: 0px" href="#/static/teach">Teach</a></li>
                    <li><a style="padding: 0px" href="#/static/support">Support</a></li>
                    <li><a style="padding: 0px" href="#/static/faq">FAQ</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">Services</li>
                    <li><a style="padding: 0px" href="#/static/host">Classroom Hosting</a></li>
                    <li><a style="padding: 0px" href="#/static/api">API Guide</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">Contact</li>
                    <li><a style="padding: 0px" href="#/static/about">About</a></li>
                    <li><a style="padding: 0px" href="#/static/contact">Contact</a></li>
                    <li><a style="padding: 0px" href="https://facebook.com">Facebook</a></li>
                    <li><a style="padding: 0px" href="https://twitter.com">Twitter</a></li>
                    <li><a style="padding: 0px" href="https://linkedin.com">LinkedIn</a></li>
                </ul>

            </div>
            <div>
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">Legal</li>
                    <li><a style="padding: 0px" href="#/static/terms">Terms and Conditions</a></li>
                    <li><a style="padding: 0px" href="#/static/privacy">Privacy Policy</a></li>
                    <li><a style="padding: 0px" href="#/static/cookie">Cookie Use</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-xsmall uk-section-secondary">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
            </div>
            <div>
                <small>&copy; 2018 &middot; Programmer's Guild </small>
            </div>
            <div>
                <small>
                    All rights reserved | Terms of Service | Privacy | Legal
                </small>
            </div>
        </div>
    </div>
</div>