<% include navbar %>
<div ng-controller='groupController'>
	<div class="uk-grid-small uk-child-width-expand" uk-grid>

		<div class="uk-padding-remove-top uk-width-1-5 uk-visible@m">

			<div class="uk-padding" uk-sticky='offset: 50'>
				<div class="uk-background-muted ex-boundary ">
					<div class="uk-grid-small uk-flex-middle uk-animation-slide-bottom-small" uk-grid>
			            <div class="uk-width-auto ">
			                <img class="uk-border-circle uk-animation-scale-up" width="25" height="25" src="https://storage.googleapis.com/neris/public/images/types/faces/ESFJ-male.svg">
			            </div>
						<div class="uk-width-expand">
							<p class="uk-text-truncate" style="font-size: 12pt; font-family: 'Roboto', sans-serif">{{ SESSION_USER.name.first }}</p>
						</div>
			        </div>
			        <div class="uk-width-large" uk-dropdown>
						{{SESSION_USER.fullname}}
					    <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
					        <div>
					            <ul class="uk-nav uk-dropdown-nav">
					                <li class="uk-active"><a href="#">Active</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-header">Header</li>
					                <li><a href="#">Item</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-divider"></li>
					                <li><a href="#">Item</a></li>
					            </ul>
					        </div>
					        <div>
					            <ul class="uk-nav uk-dropdown-nav">
					                <li class="uk-active"><a href="#">Active</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-header">Header</li>
					                <li><a href="#">Item</a></li>
					                <li><a href="#">Item</a></li>
					                <li class="uk-nav-divider"></li>
					                <li><a href="#">Item</a></li>
					            </ul>
					        </div>
					    </div>
					</div>

				</div>
				<br>
				<div class="uk-background-muted ex-boundary">
					<small class="uk-text-muted">Group</small>
					<ul class="uk-nav uk-nav-default uk-animation-slide-bottom-small">
			            <li><a style="padding: 0px"  ng-class='{ "uk-active" : subpage.Ispage("module") }'ng-click='subpage.goto("module")' href="javascript:void(0)"><i class="fab fa-hubspot"></i> Modules</a></li>
			            <li><a style="padding: 0px"  ng-class='{ "uk-active" : subpage.Ispage("feed") }' 	ng-click='subpage.goto("feed")' 	href="javascript:void(0)"><i class="fas fa-coffee"></i> Feeds</a></li>
			            <li><a style="padding: 0px"  ng-class='{ "uk-active" : subpage.Ispage("member") }' 	ng-click='subpage.goto("member")' 	href="javascript:void(0)"><i class="fas fa-user-tie"></i> Members</a></li>
			            <li class="uk-nav-divider"></li>
			            <li><a style="padding: 0px"  ng-class='{ "uk-active" : subpage.Ispage("about") }'ng-click='subpage.goto("about")' href="javascript:void(0)"><i class="fas fa-info"></i> About</a></li>
			            <li><a style="padding: 0px" href="javascript:void(0)"><i class="fas fa-cog"></i> Settings</a></li>
			         </ul>					
				</div>

				<div class="uk-background-muted ex-boundary" style="margin-top: 5px">
					<small class="uk-text-muted">Your Dashboard</small>
					<ul class="uk-nav uk-nav-default uk-animation-slide-bottom-small">
			            <li><a style="padding: 0px" href="#!/dashboard/feed"><i class="fas fa-coffee"></i> Feeds</a></li>
			            <li><a style="padding: 0px" href="#!/dashboard/group"><i class="fas fa-campground"></i> Groups</a></li>
			            <li><a style="padding: 0px" href="#!/dashboard/discover"><i class="fab fa-envira"></i> Discover</a></li>
			            <li class="uk-nav-divider"></li>
			            <li><a style="padding: 0px" href="javascript:void(0)"><i class="fas fa-cog"></i> Settings</a></li>
			         </ul>					
				</div>
			</div>

		</div>
		<div class="uk-width-1-6@s uk-hidden@m"></div>
		<div class="uk-width-1-2@m uk-width-2-3@s">
			<br>

			<div ng-show='subpage.Ispage("feed")' class="uk-animation-slide-bottom-small">
				<% include group/feed %>
			</div>
			<div ng-show='subpage.Ispage("member")' class="uk-animation-slide-bottom-small">
				<% include group/member %>
			</div>

		</div>
		<div class="uk-width-1-4">
		</div>
	</div>
	<br><br><br><br><br><br>
</div>