<div style="text-align: center;" class="uk-animation-slide-bottom-small" ng-controller='staticInvitationController'>
	<div ng-if='subpage.Ispage("main")' >
		<div  id="static-invitation-main">
			<br><br><br>
			<img style="width: 300px" src="https://storage.googleapis.com/neris/public/images/system/home/home-16personalities-community.svg">
			<div class="uk-padding" style="padding-top: 0px">
				<h1>Welcome to the community!</h1>
				<p style="margin-bottom: 0px">
					Your friend, <b>Justine Che T. Romero</b> invited you to join Bicol Programming Guild.
				</p>
				<p style="margin: 0px;" class="uk-text-meta">
					Start learning <i>Computer Science</i>, <i>IT</i> and <i>Programming</i> now. 
				</p><br>
				<button ng-click="gotoRegister()" class="uk-button uk-hover uk-animation-scale-up" style="border-radius: 5px; color: white; background: linear-gradient(45deg,#0086b3,#00b3b3);">Customize my Profile</button>
			</div>
		</div>
	</div>


	<div ng-if='subpage.Ispage("register")' class="uk-animation-slide-bottom-small" >
		<div id="static-invitation-register">
			<div ng-include="'pages/components/user/signup'"></div>
		</div>
	</div>

	<div ng-if='subpage.Ispage("register-edit")' class="uk-animation-slide-bottom-small" >
		<div id="static-invitation-register-edit">
			<div ng-include="'pages/components/user/edit'"></div>
		</div>
	</div>

	<div ng-if="subpage.Ispage('done')">
		<div class="uk-padding uk-margin">
			<div class="uk-grid uk-child-width-1-4">
				<div></div>
				<div class="uk-width-1-2">
					<br><br>
					<img style="width: 700px;" src="https://storage.googleapis.com/neris/public/images/types/scenes/sentinels_Logistician_ISTJ_introduction.svg">
					<h2 style="margin-bottom: 0px;">Just one last step...</h2>
					<h4 style="margin-top: 3px">Please check your email.</h4>
					<a class="uk-text-meta" href="/#/dashboard">or confirm later.</a>
				</div>
			</div>
		</div>
	</div>
	


	<br><br><br><br>
	<div>
        <div style="text-align: center;">
        	<small class="uk-text-meta"> &copy; Justine Che T. Romero &nbsp;&nbsp; </small>
            <a class="uk-text-meta" href="">FAQ</a> &middot;
            <a class="uk-text-meta" href="">About</a> &middot;
            <a class="uk-text-meta" href="">Cookie</a> &middot;
            <a class="uk-text-meta" href="">Terms</a> &middot;
            <a class="uk-text-meta" href="">Privacy</a> 
        </div>
	</div>
	
</div>