<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">About</a></li>
                <li>
                    <a href="#">Community</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Guild</a></li>
                            <li><a href="#/static/learn">Learn</a></li>
                            <li><a href="#/static/teach">Teach</a></li>
                            <li><a href="#/static/faq">FAQ</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#"> &lt; Guild &gt; </a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Guides</a></li>
            </ul>
        </div></div>

    </div>
</nav>


<div ng-controller='landingController'>
	<div id="test-easing" class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('https://images.wallpaperscraft.com/image/minimalism_geometric_landscape_124072_1280x720.jpg');">
	     <div class="uk-grid uk-margin-auto uk-margin-auto-vertical uk-flex-inline">
	        <div><div uk-parallax="target: #test-easing; y: 200; easing: 0">
				<div class="uk-grid uk-child-width-expand@s" uk-grid>
				    <div>
			        	<h1>Programming Guild</h1>
			        	<i>A community for Bicol programming enthusiasts.</i>
					</div>
				    <div>
				    	<auth success='logged'>
					    	<div class="uk-margin">
					    		<h3>Welcome back</h3>
					    		<form ng-submit='$ctrl.login()'>
								    <div class="uk-margin">
								        <div class="uk-inline">
								            <span class="uk-form-icon" uk-icon="icon: user"></span>
								            <input required ng-model='$ctrl.form.email' class="uk-input" type="email" placeholder="Email">
								        </div>
								    </div>

								    <div class="uk-margin">
								        <div class="uk-inline">
								            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
								            <input required ng-model='$ctrl.form.password' class="uk-input" type="password" placeholder="Password">
								        </div>
								    </div>
									<div class="uk-margin" ng-show='$ctrl.form.error'>
										<div class="uk-label-danger uk-width-4-5 uk-padding-small " uk-alert>
										    <p>{{$ctrl.form.error}}</p>
										</div>
										<!-- <span class="uk-label uk-text-danger">
											<span uk-icon="icon: info"></span>
										    {{ form.error }}
										</span> -->
									</div>
					    			
									<div ng-show='$ctrl.form.loading' class="uk-text-center">
										<div uk-spinner></div>
									</div>
									<button ng-hide='$ctrl.form.loading' class="uk-button uk-button-default">Log In</button>

					    		</form>
					    	</div>
				    	</auth>
				    </div>
				</div>

	        </div></div>
	    </div>
	</div>

	<div class="uk-section uk-section-large uk-section-muted">
	    <div class="uk-container">


	        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
	            <div>
	            	<div>
	            		<div style="text-align: center;">
			                <i style="font-size: 30pt; margin-bottom: 0px" class="fab fa-fort-awesome"></i>
					        <h3 style="margin-top: 0px; margin-bottom: 3px">About</h3>
	            		</div>
	            		<br>
		                	Bicol Programmer's Guild has a mission to cultivate a culture of creative, cooperative, and passionate programmers in the Bicol region. We offer several tutorials and guides to help beginners get started and eventually get them to 	climb the industry ladder.
	            	</div>
	            </div>
	            <div class="uk-width-expand">
		            <img src="https://storage.googleapis.com/neris/public/images/types/scenes/analysts_Architect_INTJ_weaknesses.svg">
	            </div>
	        </div>
	    </div>
	</div>


	<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('https://images.wallpaperscraft.com/image/minimalism_sky_clouds_sun_mountains_lake_landscape_95458_1280x720.jpg');">
	    <div  class="uk-width-1-2@m uk-margin-auto uk-margin-auto-vertical">
	    	<div uk-parallax="y:-100; easing: 0">
	    		<br><br>
		    	<h2>Expand your horizons</h2>
		    	<p>Equip yourself with the tools needed to stay competitive in the information age</p>
	    	</div>
	    </div>
	</div>

	<div class="uk-section uk-section-large uk-section-muted">
	    <div class="uk-container">
	    	<div class="uk-text-center">
		    	<h2>Welcome to the Guild</h2>
		        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
		   			<div></div>
		            <div >
		            	<auth success='logged'>
				    		<form ng-submit='$ctrl.login()' >
		            		
						    	<p>Log In with your credentials</p>

						    	<div class="uk-margin">
									<div ng-show='$ctrl.form.error' class="uk-text-danger">
									    <p>{{$ctrl.form.error}}</p>
									</div>
						    	</div>

							    <div class="uk-margin">
							        <div class="uk-inline">
							            <span class="uk-form-icon" uk-icon="icon: user"></span>
							            <input required ng-model='$ctrl.form.email' class="uk-input" type="email" placeholder="Email">
							        </div>
							    </div>

							    <div class="uk-margin">
							        <div class="uk-inline">
							            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
							            <input required ng-model='$ctrl.form.password' class="uk-input" type="password" placeholder="Password">
							        </div>
							    </div>


								<div ng-show='$ctrl.form.loading' class="uk-text-center">
									<div uk-spinner></div>
								</div>
								<button ng-hide='$ctrl.form.loading' class="uk-button uk-button-default">Log In</button>
				    			


				    		</form>
		            	</auth>
							
		            </div>

		        </div>

	        </div>
	    </div>
	</div>
	
	<div class="uk-section uk-section-small uk-section-secondary">
		<div class="uk-padding">
			<% include faq.ejs %>
		</div>
	</div>
</div>

	
