<div class="uk-padding-large">
	<div class=" uk-text-center">
		<h2>Device Alert</h2>
	    <b>Please use your PC for best experience.</b>
	    <br><br>
	    <div class="uk-text-center">
	        <img style="width: 60%" src="assets/pc.svg">
	    </div>
	    <br>
	    <small>Our mobile version is currently on alpha state. Some functions may not work properly. We encourage you to use your PC.</small>
	    <br><br>
	</div>

</div>