<div ng-controller='navbarController'>
    <div class="uk-animation-slide-top" style="padding: 0px; margin: 0px"  uk-sticky="offset: 0">
        <nav style="z-index: 200; height: 50px; margin-top: 0px"  class=" uk-navbar-container uk-margin uk-light" id="ex-navbar-primary" uk-navbar>
            <div class="uk-navbar-left" >
                <ul class="uk-navbar-nav">
                    <li><a style="min-height: 20px" href="#!/dashboard">  &nbsp;  Home</a></li>
                    <li ng-show='SESSION_USER._id'><a style="min-height: 20px" href="#!/profile/{{SESSION_USER._id}}">    &nbsp;  Profile</a></li>
                    <li ng-show='SESSION_USER._id'><a style="min-height: 20px" href="javascript:void(0)" ng-click="invite()">    &nbsp;  Invite</a></li>
                </ul>
            </div>

            <div class="uk-navbar-center" >
                <a class="uk-navbar-item uk-logo" href="javascript:void(0)" style="color: white">  <i class="fab fa-fort-awesome" style="font-size: 20pt"></i> &nbsp; Guild  </a> 
            </div>

            <div class="uk-navbar-right" style="margin-right: 5vw; min-height: 20px">
                <ul class="uk-navbar-nav">
                    <li ng-show='SESSION_USER._id'>
                        <div style="padding-top: 3px; min-height: 15px">
                            <search field='name.first,name.middle,name.last' bind='user-search'>
                                <form class="uk-search uk-search-default">
                                    <input style="height:30px; margin-top:5px" ng-model='$ctrl.query' ng-change="$ctrl.change()" class="uk-search-input uk-input" id="ex-input" type="search" placeholder="Search...">
                                </form>
                                <div  uk-sticky='offset: 100'>
                                    <div ng-if='$ctrl.query' >
                                        <div >
                                            <div class="uk-card uk-card-default"  style="border-radius: 3px">
                                                <div class="uk-padding-small">
                                                         <ul class="uk-nav uk-dropdown-nav">
                                                            <li class="uk-nav-header">Results</li>
                                                            <li style="text-align: center;" ng-show="!$ctrl.api.config.state.loading && !$ctrl.model.length"><i>No Results found :(</i></li>
                                                            <li style="text-align: center;"> <div ng-show='($ctrl.api.config.state.loading || $ctrl.timer>0) && $ctrl.query' uk-spinner></div></li>
                                                            <li style="padding: 0px" ng-repeat='i in $ctrl.model'><a href="#!/profile/{{i._id}}">{{i.fullname}}</a></li>
                                                            <li class="uk-nav-divider"></li>
                                                        </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </search>
                        </div>
                    </li>
                    
                    <li ng-show='SESSION_USER._id'>
                        <a style="min-height: 20px;padding-top:15px" href="javascript:void(0)"><span uk-navbar-toggle-icon></span> </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href='#!/dashboard/settings' >Settings</a></li>
                                <li><a href='#!/profile/{{SESSION_USER._id}}' >Profile</a></li>
                                <li><a href="#">Guilds</a></li>
                                <!-- <li><a href="#">Administration</a></li> -->
                                <li><a href="#!/badge">Forge Badges</a></li>
                                <hr>
                                <!-- <li><a href="#!/">Cookie Use Policy</a></li> -->
                                <li><a href="#!/static/privacy">Privacy Policy</a></li>
                                <li><a href="#!/static/terms">Terms and Agreements</a></li>
                                <hr>
                                <li><a ng-click='logout()' href="javascript:void(0)" >Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div id="modal-invitation" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" style="text-align: center;">
            <div class="uk-padding uk-padding-remove-bottom">
                <img src="https://storage.googleapis.com/neris/public/images/types/scenes/diplomats_Advocate_INFJ_workplace_habits.svg">
                <h2 style="margin-bottom: 0px" class="uk-modal-title uk-animation-slide-top-small">The more the merrier!</h2>
                <p style="margin: 0px" class=" uk-animation-slide-top-small">Experience more fun when you have friends on your side.</p>
                <p style="margin-top: 0px" class="uk-text-meta uk-animation-slide-top-small">Invite your schoolmates, classmates, and friends.</p>
                
                <div ng-show='invitation.link'>
                    <b>Send this link to your friend</b><br>
                    <input uk-tooltip="title: Click to copy to clipboard" class="uk-input" style="border-radius: 2px; color: #229911; font-size: 10pt; cursor: pointer; text-align: center;" onclick=" this.select();document.execCommand('copy');" readonly type="text"  ng-model='invitation.link' >
                    <br>
                    <br>
                    <b>Invite others!</b>
                </div>
                <div class="uk-padding uk-padding-remove-top">
                    <handler bind='invitation-new'>
                        <div ng-if='$ctrl.api.config.feedback.error' class="uk-alert uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            {{ $ctrl.api.config.feedback.error }}
                        </div>
                        <form ng-submit='$ctrl.submit()'>
                            <input type="email" style="border-radius: 2px; margin-bottom: 5px" class="uk-input" ng-model='$ctrl.model.email'  placeholder="Email" >
                            <button type="submit" style="border-radius: 2px" ng-if='!$ctrl.api.config.state.loading' class="uk-button uk-button-primary">Invite</button>
                            <div ng-if='$ctrl.api.config.state.loading' uk-spinner></div>
                        </form>
                    </handler>
                </div>
            </div>
        </div>
    </div>
</div>