<div class="uk-animation-slide-top" style="padding: 0px; margin: 0px"  uk-sticky="offset: 0">
    <nav style="z-index: 200; height: 50px"  class=" uk-navbar-container uk-margin uk-light" id="ex-navbar-primary" uk-navbar>
        <div class="uk-navbar-left" style="margin-left: 5vw;">
            <ul class="uk-navbar-nav">
                <li><a style="color: white" href="#!/dashboard">  &nbsp;  Home</a></li>
                <li><a style="color: white" ng-click='profile()' href="javascript:void(0)"">    &nbsp;  Profile</a></li>
                <li><a style="color: white" href="javascript:void(0)" ng-click="invite()">    &nbsp;  Invite</a></li>
            </ul>
        </div>

        <div class="uk-navbar-center" >
            <a class="uk-navbar-item uk-logo" href="javascript:void(0)" style="color: white">  <i class="fab fa-fort-awesome" style="font-size: 20pt"></i> &nbsp; Guild  </a> 
        </div>

        <div class="uk-navbar-right" style="margin-right: 5vw;">
            <ul class="uk-navbar-nav">
                <li>
                    <div style="padding-top: 20px">
                        <form class="uk-search uk-search-default">
                            <input style="height:30px; margin-top:5px" ng-model='search.query' ng-change="searchtry()" class="uk-search-input uk-input" id="ex-input" type="search" placeholder="Search...">
                        </form>
                        <div  uk-sticky='offset: 100'>
                            <div ng-if='search.query' >
                                <div >
                                    <div class="uk-card uk-card-default"  style="border-radius: 3px">
                                        <div class="uk-padding-small">
                                             <ul class="uk-nav uk-dropdown-nav">
                                                <li class="uk-nav-header">Results</li>
                                                <li style="text-align: center;" ng-show="!api.loading && !api.list.length"><i>No Results found :(</i></li>
                                                <li style="text-align: center;"> <div ng-show='api.loading' uk-spinner></div></li>
                                                <li style="padding: 0px" ng-repeat='i in api.list'><a href="#/user/{{i._id}}">{{i.name}}</a></li>
                                                <li class="uk-nav-divider"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li>
                    <a href="javascript:void(0)"><span uk-navbar-toggle-icon></span> </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a ng-click='settings()' href="javascript:void(0)">Settings</a></li>
                            <li><a ng-click='profile()' href="javascript:void(0)">Profile</a></li>
                            <li><a href="#/guild">Guilds</a></li>
                            <li><a href="#">Administration</a></li>
                            <li><a ng-click='badge()' href="javascript:void(0)">Forge Badges</a></li>
                            <hr>
                            <li><a href="#">Cookie Use Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Agreements</a></li>
                            <hr>
                            <li><a ng-click='logout()' href="javascript:void(0)" >Logout</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
    </nav>
</div>