<!DOCTYPE html>
<html>
<head>
	<title>Programming Website</title>


	<base href="/"> 
  	<meta name="description" content="Bicol Programmer's Hub">
  	<meta name="keywords" content="HTML,CSS,XML,JavaScript,Bicol,Programming">
  	<meta name="author" content="Justine Che T. Romero">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<!-- Include your favorite highlight.js stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/monokai-sublime.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/codemirror.min.css">
	<link rel="stylesheet" type="text/css" href="https://codemirror.net/theme/monokai.css">

	<!-- Include the highlight.js library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
	
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	<script src="https://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js" type="text/javascript"></script>
    <!-- UIkit CSS -->
	<link rel="stylesheet" href="/assets/style/uikit.css" />
	<link rel="stylesheet" href="/assets/style/uikitextension.css" />

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- NgAnimate -->
	<link rel="stylesheet" href="assets/style/nga.css" />

	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit-icons.min.js"></script>

	<!--Jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- slick library -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	
	<!-- Quill -->	
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>

	<!-- CODEMIRROR Editor -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/codemirror.js"></script>
	<script type="text/javascript" src="https://codemirror.net/keymap/sublime.js"></script>
	<script type="text/javascript" src="https://codemirror.net/mode/python/python.js"></script>

	<style type="text/css">
		pre
		{
			padding: 0px
		}
	</style>



	
</head>
<body ng-app ='site'>
	
	<ng-view></ng-view>

	
	<!-- <div ng-include="'pages/shared/footer'"></div> -->
	<!-- SCRIPTS -->

	<script type="text/javascript" src='/scripts/main.js'></script>

	<!-- SERVICES -->


	<!--CONTROLLER -->
	<script type="text/javascript" src="/scripts/services/session.js"></script>
	<script type="text/javascript" src="/scripts/services/api.js"></script>
	<script type="text/javascript" src="/scripts/services/quill.js"></script>
	<script type="text/javascript" src="/scripts/services/code.js"></script>
	<script type="text/javascript" src="/scripts/services/ukAnimate.js"></script>
	<script type="text/javascript" src="/scripts/services/subpage.js"></script>

	<!-- + AUTH -->
	<script type="text/javascript" src="/scripts/auth/loginController.js"></script>

	<!-- + COMPONENTS -->

	<!-- ++  article --><!-- 
	<script type="text/javascript" src="/scripts/components/article/new.js"></script>
	<script type="text/javascript" src="/scripts/components/article/view.js"></script>
	<script type="text/javascript" src="/scripts/components/article/list.js"></script>
	<script type="text/javascript" src="/scripts/components/article/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/article/delete.js"></script> -->
	<!-- ++  badge --> 
	<script type="text/javascript" src="/scripts/components/badge/new.js"></script>
	<script type="text/javascript" src="/scripts/components/badge/view.js"></script>
	<script type="text/javascript" src="/scripts/components/badge/list.js"></script>
	<script type="text/javascript" src="/scripts/components/badge/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/badge/delete.js"></script>
	<!-- ++  challenge -->
	<!-- 
	<script type="text/javascript" src="/scripts/components/challenge/new.js"></script>
	<script type="text/javascript" src="/scripts/components/challenge/view.js"></script>
	<script type="text/javascript" src="/scripts/components/challenge/list.js"></script>
	<script type="text/javascript" src="/scripts/components/challenge/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/challenge/delete.js"></script> -->
	<!--++  guild -->
	<script type="text/javascript" src="/scripts/components/guild/new.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/pending.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/membership.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/rank.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/pending_main.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/joinbadge.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/view.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/list.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/guild/delete.js"></script>
	<!-- ++  module --><!-- 
	<script type="text/javascript" src="/scripts/components/module/new.js"></script>
	<script type="text/javascript" src="/scripts/components/module/view.js"></script>
	<script type="text/javascript" src="/scripts/components/module/list.js"></script>
	<script type="text/javascript" src="/scripts/components/module/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/module/delete.js"></script>
	-->	
	<!-- ++  post -->
	<script type="text/javascript" src="/scripts/components/post/new.js"></script>
	<script type="text/javascript" src="/scripts/components/post/view.js"></script>
	<script type="text/javascript" src="/scripts/components/post/list.js"></script>
	<script type="text/javascript" src="/scripts/components/post/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/post/feed.js"></script>
	<script type="text/javascript" src="/scripts/components/post/delete.js"></script>
	<!-- ++  submission --><!-- 
	<script type="text/javascript" src="/scripts/components/submission/new.js"></script>
	<script type="text/javascript" src="/scripts/components/submission/view.js"></script>
	<script type="text/javascript" src="/scripts/components/submission/list.js"></script>
	<script type="text/javascript" src="/scripts/components/submission/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/submission/delete.js"></script> -->
	<!-- ++  user -->
	<script type="text/javascript" src="/scripts/components/user/new.js"></script>
	<script type="text/javascript" src="/scripts/components/user/signup.js"></script>
	<script type="text/javascript" src="/scripts/components/user/view.js"></script>
	<script type="text/javascript" src="/scripts/components/user/list.js"></script>
	<script type="text/javascript" src="/scripts/components/user/edit.js"></script>
	<script type="text/javascript" src="/scripts/components/user/delete.js"></script>
	
	<!-- ++ invitation -->
	<script type="text/javascript" src="/scripts/components/invitation/new.js"></script>
	<script type="text/javascript" src="/scripts/components/invitation/view.js"></script>
	
	<!-- + PAGES -->

	<script type="text/javascript" src="/scripts/pages/navigation/navbar.js"></script>
	<!-- ++  article -->
	<!-- <script type="text/javascript" src="/scripts/pages/article/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/article/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/article/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/article/edit.js"></script>
	 --><!-- ++  badge -->
	<script type="text/javascript" src="/scripts/pages/badge/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/badge/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/badge/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/badge/edit.js"></script>
	<script type="text/javascript" src="/scripts/pages/badge/pick.js"></script>
	<!-- ++  challenge -->
	<!-- <script type="text/javascript" src="/scripts/pages/challenge/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/challenge/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/challenge/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/challenge/edit.js"></script>
	 --><!-- ++  guild -->
	<script type="text/javascript" src="/scripts/pages/guild/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/guild/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/guild/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/guild/edit.js"></script>
	
	 <!-- ++  module -->
	<!-- <script type="text/javascript" src="/scripts/pages/module/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/module/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/module/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/module/edit.js"></script>
	 --><!-- ++  post -->
	<script type="text/javascript" src="/scripts/pages/post/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/post/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/post/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/post/edit.js"></script>
	<!-- ++  submission -->
	<!-- <script type="text/javascript" src="/scripts/pages/submission/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/submission/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/submission/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/submission/edit.js"></script>
	 --><!-- ++  static -->
	<script type="text/javascript" src="/scripts/pages/static/dashboardController.js"></script>
	<script type="text/javascript" src="/scripts/pages/static/navbarController.js"></script>
	<script type="text/javascript" src="/scripts/pages/static/invitationController.js"></script>
	<!-- ++  user -->
	<script type="text/javascript" src="/scripts/pages/user/new.js"></script>
	<script type="text/javascript" src="/scripts/pages/user/view.js"></script>
	<script type="text/javascript" src="/scripts/pages/user/list.js"></script>
	<script type="text/javascript" src="/scripts/pages/user/edit.js"></script>

</body>
</html>